<section class="scrollable ng-scope">
    <div ui-content-for="title">
        <span>帐号管理</span>
    </div>
    <div class="scrollable-content section">
        <section style="font-size:18px;">
            <hr>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <span style="padding-left: 20px;">修改个人信息</span>
                </div>
                <div class="col-xs-6 col-md-6" style="padding-top: 5px;">
                    <li class="fa fa-chevron-right pull-right" style="font-size: 22px;" ng-click="TurntoUrl('/modifypersonalinfo');"></li>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <span style="padding-left: 20px;">修改密码</span>
                </div>
                <div class="col-xs-6 col-md-6" style="padding-top: 5px;">
                    <li class="fa fa-chevron-right pull-right" style="font-size: 22px;" ng-click="TurntoUrl('/modifypassword');"></li>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <span style="padding-left: 20px;">修改手机号码</span>
                </div>
                <div class="col-xs-6 col-md-6" style="padding-top: 5px;">
                    <li class="fa fa-chevron-right pull-right" style="font-size: 22px;" ng-click="TurntoUrl('/modifyphonenumstepone');"></li>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-12 col-md-12" style="text-align:center;">
                    <button ui-turn-on="showConfirmMessage" class="btn btn-default" style="margin-top: 50px;width: 90%;height: 45px;background-color: #F3AF34;font-size: 20px;">解绑账号</button>
                </div>
            </div>
        </section>      
    </div>
</section>
<div ui-content-for="modals">
    <div ng-include="showConfirmMessage.html"></div>
</div>