<section class="scrollable ng-scope">
    <div ui-content-for="title">
        <span>全部订单</span>
    </div>
    <div class="scrollable-content section" style="background-color: #ECECEC;">
        <section style="padding: 10px;background-color: white;font-size:18px;margin-bottom: 10px;" ng-repeat="order in orders">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <li class="fa fa-trash-o pull-right" style="font-size:24px;"></li>
                </div>
            </div>
            <hr style="margin-top: 10px;margin-bottom: 10px;">
            <div class="row">
                <div class="col-xs-4 col-md-4">
                    <img ng-src="{{order.orderimgurl}}">
                </div>
                <div class="col-xs-8 col-md-8" style="padding-left:0px;">
                    <p>{{order.orderdescription}}</p>
                </div>
            </div>
            <hr style="margin-top: 10px;margin-bottom: 10px;">
            <div class="row">
                <div class="col-xs-5 col-md-5">
                    <span><b>实付款：¥</b><span class="ng-binding" style="font-size:20px;">{{order.orderprice}}</span></span>
                </div>
                <div class="col-xs-7 col-md-7">
                    <button class="btn btn-default pull-right" style="margin-left:10px;border-color: red;color: red;">再次购买</button>
                    <button class="btn btn-default pull-right" ng-click="TurntoUrl('/expressevaluation');">评价晒单</button>
                </div>
            </div>
        </section>

    </div>
</section>