<section class="scrollable ng-scope">
    <div ui-content-for="title">
        <span>添加收货地址</span>
    </div>
    <div class="scrollable-content section">
        <section style="padding:10px;font-size:18px;color: #A7A3A3;">
            <form role="form" class="ng-pristine ng-valid">
                <fieldset>
                    <div class="form-group needsclick">
                        <label>收货人姓名</label>
                        <input type="text" ng-model="recipient.name" class="form-control needsclick" style="border-color: orange;">
                    </div>
                    <div class="form-group needsclick">
                        <label>手机号码</label>
                        <input type="text" ng-model="recipient.phone" class="form-control needsclick" style="border-color: orange;">
                    </div>
                    <div class="form-group">
                        <label>省份</label>
                        <select class="form-control needsclick" ng-model="selectprovince" ng-options="item as item.name for item in province track by item.adcode" style="border-color: orange;">
                
                        </select>
                    </div>
                    <div class="form-group">
                        <label>市</label>
                        <select ng-disabled="!city" ng-model="selectcity" class="form-control needsclick" ng-options="item as item.name for item in city track by item.adcode" style="border-color: orange;">
                            <option></option>
                            <option>工业园区</option>
                            <option>相城区</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>区／县</label>
                        <select ng-disabled="!district" ng-model="selectdistrict" class="form-control needsclick" ng-options="item as item.name for item in district track by item.adcode" style="border-color: orange;">
                            <option></option>
                            <option>工业园区</option>
                            <option>相城区</option>
                        </select>
                    </div>
                    <div class="form-group needsclick">
                        <label>详细地址（仅限以上所选区／县）</label>
                        <input ng-model="address" type="text" class="form-control needsclick" style="border-color: orange;">
                    </div>
                    <div class="row needsclick" style="margin-top:20px;">
                        <div class="col-xs-12 col-md-12 needsclick">
                            <input type="checkbox" ng-model="recipient.defaulted" class="needsclick" style="width: 20px;">设置默认地址
                        </div>
                    </div>
                </fieldset>
                <div class="row" style="margin-top:50px;">
                    <div class="col-xs-12 col-md-12">
                        <button class="btn btn-default btn-block" ng-click="save()" style="font-size: 18px;background-color: orange;">保存地址</button>
                    </div>
                </div>
            </form>
        </section>

    </div>
</section>