<section class="scrollable ng-scope">
    <div ui-content-for="title">
        <span>商品评价</span>
    </div>
    <div class="scrollable-content section" style="height:100%;background-color: white;font-size:18px;">
        <div class="row">
            <div class="col-xs-8" style="padding-top:15px;">
                <label>评分:</label>
                <label style="color:red;font-size:x-large;font-weight:bold;">5.0</label>
            </div>
            <div class="col-xs-4" style="padding-top:25px;text-align:center;">
                <label>{{evaluations.length}} 人评价
            </div>
        </div>
        <hr>
        <section ng-repeat="evaluation in evaluations">
            <div class="row">
                <span class="col-xs-4">{{evaluation.phoneNo}}</span>
                <div class="col-xs-8">
                    <uib-rating ng-model="rate" max="max" style="color:orange;" aria-label="default-rating"></uib-rating>
                    <span class="label" ng-class="{'label-waring':evaluation.overStar<3,'label-info':evaluation.overStar>=3 && overStar.evaluation <5,'label-success':evaluation.overStar==5}"
                    ng-show="evaluation.overStar && !isReadonly">{{overStar}}星</span>
                </div>
            </div>
            <div class="row" style="margin-top:5px;">
                <div class="col-xs-12 col-md-12">
                    <span>{{evaluation.description}}</span>
                </div>
            </div>
            <div class="row" style="margin-top:5px;">
                <div class="col-xs-6 col-md-6">
                    <span>{{evaluation.date}}</span>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="row">
                        <div class="col-xs-7 col-md-7" style="border-right: 1px solid lightblue;text-align: right;padding-right: 5px;">
                            <a href="#">有用（0）</a>
                        </div>
                        <div class="col-xs-5 col-md-5">
                            <a ng-click="TurntoUrl('/replyevaluation');">回复</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </section>

    </div>
</section>