<section class="scrollable ng-scope">
    <div ui-content-for="title">
        <span>发表评价</span>
    </div>
    <div class="scrollable-content section" style="height:100%; font-size:18px;background-color: white;">
        <div class="row">
            <div class="col-xs-4" style="height:100%;">
                <img src="{{productModel.image}}" style="width:80px;height:80px;" class="img-responsive center-block">
            </div>
            <div class="col-xs-8" style="height:100%;">
                <div>
                    {{productModel.title}}
                </div>
                <div style="color:red;font-weight:bold;">
                    ¥ {{productModel.price}}
                </div>
            </div>
        </div>
        <hr/>
        <section style="padding-left:10px;">
            <div class="row">
                <span class="col-xs-4">商品评价：</span>
                <div class="col-xs-8">
                    <uib-rating ng-model="rate" max="max" style="color:orange;" on-hover="hoveringOver(value)" on-leave="overStar=null" aria-label="default-rating"></uib-rating>
                    <span class="label" ng-class="{'label-waring':overStar<3,'label-info':overStar>=3 && overStar <5,'label-success':overStar==5}"
                    ng-show="overStar && !isReadonly">{{overStar}}星</span>
                </div>
            </div>
            <div class="row" style="margin-top:30px;">
                <span class="col-xs-4">物流评价：</span>
                <div class="col-xs-8">
                    <uib-rating ng-model="rate" max="max" style="color:orange;" on-hover="hoveringOver(value)" on-leave="overStar=null" aria-label="default-rating"></uib-rating>
                    <span class="label" ng-class="{'label-waring':overStar<3,'label-info':overStar>=3 && overStar <5,'label-success':overStar==5}"
                    ng-show="overStar && !isReadonly">{{overStar}}星</span>
                </div>
            </div>
            <div class="row" style="margin-top:30px;">
                <span class="col-xs-4">服务评价：</span>
                <div class="col-xs-8">
                    <uib-rating ng-model="rate" max="max" style="color:orange;" on-hover="hoveringOver(value)" on-leave="overStar=null" aria-label="default-rating"></uib-rating>
                    <span class="label" ng-class="{'label-waring':overStar<3,'label-info':overStar>=3 && overStar <5,'label-success':overStar==5}"
                    ng-show="overStar && !isReadonly">{{overStar}}星</span>
                </div>
            </div>
            <div class="row" style="margin-top:30px;">
                <span class="col-xs-4">您的评价：</span>
                <div class="col-xs-8">
                    <textarea class="form-control" rows="5" placeholder="请在此填写评价（不超过150字）" maxlength="150"></textarea>
                </div>
            </div>
        </section>
        <div class="row scrollable-footer" style="text-align:center;margin-bottom:20px;">
            <button class="btn btn-primary btn-lg" ng-click="express()">发表评价</button>
        </div>
    </div>
</section>