<section class="scrollable ng-scope">
    <div ui-content-for="title">
        <span>填写订单</span>
    </div>
    <div class="scrollable-content section" style="font-size:18px;">
        <section style="padding:10px;background-color: #EFEFEF;" ng-click="TurntoUrl('/takedeliveryaddress');">
            <div class="row">
                <div ng-hide='order.recipient==null' class="col-xs-10 col-md-10">
                    <div class="row">
                        <div class="col-xs-5 col-md-5">
                            <li class="fa fa-user" style="color: #F3BA52;"></li> {{order.recipient.name}}
                        </div>
                        <div class="col-xs-7 col-md-7">
                            <li class="fa fa-phone" style="color: #F3BA52;"></li> {{order.recipient.phone}}
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="col-xs-12 col-md-12">
                            <li class="fa fa-map-marker" style="color: #F3BA52;"></li> {{order.recipient.address}}
                        </div>
                    </div>
                </div>

                <div ng-hide='order.recipient!=null' class="col-xs-10 col-md-10" style="padding-top: 15px;text-align: center;">
                    <p>请选择地址</p>

                </div>

                <div class="col-xs-2 col-md-2" style="padding-top: 15px;">
                    <li class="fa fa-chevron-right pull-right" style="font-size: 20px;"></li>
                </div>
            </div>
        </section>
        <section style="padding:10px;margin-top:10px;" ng-repeat="item in order.orders">
            <div class="row">
                <div class="col-xs-3 col-md-3">
                    <img ng-src="/uploadimg/{{item.product.cover[0]}}">
                </div>
                <div class="col-xs-9 col-md-9" style="padding-top: 10px;">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <p>{{item.product.name}}</p>
                            <p>{{item.product.title}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <span>×<span class="ng-binding">{{item.count}}</span></span>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <span class="pull-right">¥<span class="ng-binding" style="color:orange;"> {{item.product.price}}</span></span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </section>
        <section style="padding:10px;">
            <div class="row">
                <div class="col-xs-9 col-md-9">
                    <span>商品金额</span>
                </div>
                <div class="col-xs-3 col-md-3">
                    <span class="pull-right">¥<span class="ng-binding" style="color:orange;"> {{order.bill.productBill}}</span></span>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-xs-2 col-md-2" style="padding-right: 0px;">
                    <span>备注</span>
                </div>
                <div class="col-xs-10 col-md-10">
                    <textarea class="form-control needsclick" rows="3" placeholder="填写您的一些特殊要求"></textarea>
                </div>
            </div>
        </section>
        <div class="navbar-app scrollable-footer">
            <div class="col-xs-8 col-md-8" style="text-align:center;padding:12px 0px;border-right: 1px solid lightgray;">
                <span style="font-size: 18px;">实付金额：¥<span class="ng-binding" style="color:orange;"> {{order.bill.productBill}}</span></span>
            </div>
            <div class="col-xs-4 col-md-4" style="text-align:center;padding:12px 0px;background-color: #F7BD5B;">
                <a href="#" ng-click="submitOrder()" style="font-size:20px;">提交订单</a>
            </div>
        </div>


    </div>
</section>