<section class="scrollable ng-scope">
    <div ui-content-for="title">
        <span>找回密码</span>
    </div>
    <div class="scrollable-content section" style="font-size:18px;">
        <section>
            <form role="form" class="ng-pristine" style="margin: 60px 20px;">
                <fieldset>
                    <div class="form-group">
                        <label>请输入手机号码或邮箱地址</label>
                        <div>
                            <input type="password" ng-model="personalinfo.name" class="form-control needsclick" style="height: 45px;border-color: orange;">
                        </div>
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-xs-12 col-md-12" style="text-align:center;">
                        <button class="btn btn-default" style="margin-top: 30px;width: 100%;height: 45px;background-color: #F3AF34;font-size: 20px;"
                        ng-click="submit();">获取密码</button>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-xs-12 col-md-12">
                        <a ng-click="TurntoUrl('/register');" class="pull-right">注册</a>
                    </div>
                </div>

            </form>
        </section>
    </div>
</section>