<section class="scrollable ng-scope needsclick">
    <div ui-content-for="title">
        <span>支付完成</span>
    </div>
    <div class="scrollable-content section">
        <div class='row paysuccess'>
            <h3><i class='fa fa-check-circle-o'></i>支付成功</h3>
            <p>订单号:{{sn}}</p>
        </div>
        <div class='row paysuccesscontent'>
            <p>在线支付:{{bill}}元</p>
            <div class='row'>
                <div class="col-xs-6 vieworder">
                    <a ng-click="viewOrder()" href="#">查看订单详情</a>
                </div>
                <div class="col-xs-6">
                    <a href="/">随便逛逛</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div ui-content-for="homeAction">
</div>