<section class="scrollable ng-scope">
    <div class="scrollable-content section">
        <yaea-productdetail productdetail-model="productDetailModel" ng-model='buyInfo'></yaea-productdetail>

    </div>
    <div class="scrollable-footer" style="background-color:lightgray;padding-top:5px">

        <button type="button" class="btn btn-default" ng-click="DetailCtl.addInCart()" style=" width: 35%;background-color:#94CA55;color:white;margin-left:5px;">加入购物车</button>


        <button type="button" class="btn btn-default" ng-click="DetailCtl.purchase()" style=" width: 35%;background-color:orange;color:white;margin-left:5px;">立即购买</button>



        <button type="button" class="btn btn-sm pull-right" ng-click="TurntoUrl('/shoppingcard')" style="background-color:lightgray;"><span class="fa fa-shopping-cart" style="font-size:24px;color:#72B722;"></span>
                <span style="background-color: #ee9c24;color:white;font-weight: bold;font-size: 12px;" class="badge">{{cartcount}}</span>
                </button>


    </div>
</section>


<div ui-content-for="title">
    <span>商品详情</span>
</div>