<div ui-content-for="title">
    <span>鲜果汇轻商城</span>
</div>
<section class="scrollable ng-scope">
    <div class="scrollable-content section">
        <div class="row" style="height: 240px">
            <div class="col-xs-12 col-md-12">
                <uib-carousel active="0" interval="3000" no-wrap="false">
                    <uib-slide ng-repeat="slide in layoutData.Top track by slide.id" index="$index">
                        <img ng-src="/uploadimg/{{slide.cover[0]}}" style="margin:auto;" ng-click="HomeCtl.clickSlide(slide.id)">
                        <div class="carousel-caption">
                            <h4>{{slide.name}}</h4>
                        </div>
                    </uib-slide>
                </uib-carousel>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-md-4" ng-repeat="item  in layoutData.Tag">
                <div class="thumbnail" style="border: 0px;margin-bottom: 0px;" ng-click="HomeCtl.showCategoriesProduct();">
                    <img ng-src="/uploadimg/{{item.cover[0]}}" alt="...">
                    <div class="caption" style="text-align: center;">
                        <p style="margin: 0 0 0px;">{{item.name}}</p>
                    </div>
                </div>
            </div>
        </div>

        <yaea-product ng-repeat="list in layoutData.Body" product-model='list' ng-model='HomeCtl.currentItem' product-item-click='HomeCtl.itemClick()'></yaea-product>
    </div>

    <div class=" navbar-app btn-group justified scrollable-footer">
        <a href="/" class="btn btn-navbar"><i class="fa fa-home fa-navbar"></i> 主页</a>
        <a href="/kinds" class="btn btn-navbar"><i class="fa fa-th fa-navbar"></i> 全部产品</a>
        <a href="/shoppingcard" class="btn btn-navbar"><i class="fa fa-shopping-cart fa-navbar"></i> 购物车</a>
        <a href="/personalcenter" class="btn btn-navbar"><i class="fa fa-user fa-navbar"></i> 个人中心</a>
    </div>


</section>
<div ui-content-for="navbarAction">
</div>
<div ui-content-for="homeAction">
</div>