<div ui-content-for="title">
    <span>全部商品</span>
</div>
<div style="background-color:#f2f2f2;padding:.5rem 0;">
    <div ng-class="{true:'',false:''}[IsFocus==true]" style="width:90%; height:3rem;overflow:hidden;border-radius:6px;margin:0 auto;padding:0;position:relative;">
        <input style="background-image:url(./images/search1.png);background-repeat:no-repeat;background-position: right;border:0;text-align:center;padding-left:10px;position:absolute;left:0;top:0;z-index:5;"
        class="form-control scrollable-header" type="search" placeholder="搜索商品" ng-model="keywords" ng-change="search()"
        ng-keyup="entersearch($event)" ng-focus="getCurrFocus()">
    </div>
</div>
<section class="container-fluid" style="height:100%;background-color:white;">

    <div class="row" style="height:100%;">
        <div class="col-xs-4" style="height:100%;border-right: 1px solid #C5BBBB;">
            <div class="scrollable scrollable-content" style="background-color:#F5F3F3;">
                <ul class="nav nav-tabs nav-stacked">
                    <li role="presentation" style="border-bottom: 1px solid #C5BBBB;">
                        <a ng-click="searchFruit($event)" class="active" style="color:black;font-size:larger;">精品水果</a>
                    </li>
                    <li role="presentation" style="border-bottom: 1px solid #C5BBBB;">
                        <a ng-click="searchVegetables($event)" class="active" style="color:black;">新鲜蔬菜</a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="col-xs-8" style="height:100%;">
            <div class="scrollable scrollable-content">
                <div class="list-group">
                    <a ng-repeat="item in scrollItems" href="" class="list-group-item" ng-click="TurntoUrl('/goodsdetails')">
                        <div class="row">
                            <div class="col-xs-8">
                                <div style="color:black;font-weight:bold;font-size:larger;">
                                    {{item.name}}
                                </div>
                                <div class="row">
                                    <div class="col-xs-6" style="color:red;">
                                        ¥{{item.price}} 份
                                    </div>
                                    <div class="col-xs-6" style="white-space: nowrap;">
                                        {{item.count}} 人买过
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-4">
                                <img src="{{item.image}}" style="width:40px;height:40px;" class="img-responsive center-block">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class=" navbar-app btn-group justified scrollable-footer">
        <a href="/" class="btn btn-navbar"><i class="fa fa-home fa-navbar"></i> 主页</a>
        <a href="/kinds" class="btn btn-navbar"><i class="fa fa-th fa-navbar"></i> 全部产品</a>
        <a href="/shoppingcard" class="btn btn-navbar"><i class="fa fa-shopping-cart fa-navbar"></i> 购物车</a>
        <a href="/personalcenter" class="btn btn-navbar"><i class="fa fa-user fa-navbar"></i> 个人中心</a>
    </div>

</section>