<section class="scrollable ng-scope">
    <div ui-content-for="title">
        <span>用户登录</span>
    </div>
    <div class="scrollable-content section">
        <section style="font-size:18px;">
            <form>
                <!--<div class="row" style="margin-top: 20px">
                    <div class="col-xs-12 col-md-12" style="text-align:center;">
                        <img src="./images/shuiguo.jpg" alt="" style="width:200px;height:100px;">
                    </div>
                </div>-->
                <div class="row needsclick" style="margin-top:20px;">
                    <div class="col-xs-12 col-md-12 needsclick">
                        <input type="text" ng-model="user.phonenumber" class="form-control needsclick" style="height: 50px;border-bottom: 0px;font-size: 16px;"
                            placeholder="手机号/用户名">
                    </div>
                </div>
                <div class="row needsclick">
                    <div class="col-xs-12 col-md-12 needsclick">
                        <input type="password" ng-model="user.password" class="form-control needsclick" style="height: 50px;font-size: 16px;" placeholder="密码">
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-xs-12 col-md-12" style="text-align:center;">
                        <button class="btn btn-primary" style="width: 100%;height: 50px;font-size: 20px;" ng-click="checkAccountAndLogin();">登录</button>
                    </div>
                </div>
            </form>

        </section>
    </div>
</section>

<div ui-content-for="navbarAction">
</div>
<div ui-content-for="homeAction">
    <a class="btn" ng-click="TurntoUrl('/register')">注册</a>
</div>