<section class="scrollable ng-scope">
    <div ui-content-for="title">
        <span>修改手机号码</span>
    </div>
    <div ui-content-for="homeAction">
    </div>
    <div class="scrollable-content section">
        <section style="font-size:18px;">
            <fieldset style="border: 1px solid lightgray;margin-top: 50px;">
                <div class="row" style="margin:20px 5px 0px 5px;">
                    <div class="col-xs-4 col-md-4" style="text-align:center;">
                        <span>验证身份</span>
                    </div>
                    <div class="col-xs-5 col-md-5" style="text-align:center;">
                        <span>修改手机号码</span>
                    </div>
                    <div class="col-xs-3 col-md-3" style="text-align:center;">
                        <span>完成</span>
                    </div>
                </div>
                <div class="progress" style="margin: 10px 20px 20px 20px;">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aira-valuemin="0" aria-valuemax="100"
                    style="width:50%">
                    </div>
                </div>
                <section>
                    <div class="row" style="margin: 10px 20px 20px 10px;">
                        <div class="col-xs-12 col-md-12">
                            <span>请输入新的手机号码：</span>
                        </div>
                    </div>
                    <div class="row" style="margin: 10px 20px 20px 10px;">
                        <div class="col-xs-8 col-md-8">
                            <input type="text" ng-model="personalinfo.phonenum" class="form-control needsclick" style="height: 45px;border-color: orange;"
                            placeholder="手机号验证">
                        </div>
                        <div class="col-xs-4 col-md-4">
                            <button class="btn btn-default" style="height: 45px;background-color: {{getauthcodebtnbackcolor}};" ng-click="sendAuthCode();"><span>{{getauthcodebtntext}}</span></button>
                        </div>
                    </div>
                    <div class="row" style="margin: 10px 20px 20px 10px;">
                        <div class="col-xs-12 col-md-12">
                            <input type="text" ng-model="authcode" class="form-control needsclick" style="height: 45px;border-color: orange;" placeholder="输入验证码">
                        </div>
                    </div>
                    <div class="row" style="margin: 10px 20px 20px 10px;">
                        <div class="col-xs-12 col-md-12">
                            <p style="color:red;font-size:16px;" ng-hide="sendflag">短信已经发送到您的手机，如在120秒之内还没有收到短信验证吗，请重新获取验证码。</p>
                        </div>
                    </div>
                    <div class="row" style="margin: 10px 20px 20px 10px;">
                        <div class="col-xs-12 col-md-12" style="text-align:center;">
                            <button class="btn btn-default" style="width: 100%;height: 45px;background-color: #F3AF34;font-size: 20px;" ng-click="TurntoUrl('modifyphonenumstepthree');">下一步</button>
                        </div>
                    </div>
                </section>
            </fieldset>
        </section>
    </div>
</section>