<section class="scrollable ng-scope">
    <div ui-content-for="title">
        <span>修改个人信息</span>
    </div>
    <div class="scrollable-content section">
        <section style="font-size:18px;">
            <div class="row" style="text-align:center;margin-top: 20px;">
                <div class="col-xs-12 col-md-12">
                    <span ng-hide="modifyflag" style="color: #4BB14B;">账号信息修改成功！</span>
                </div>
            </div>
            <form role="form" class="ng-pristine" style="margin: 20px;">
                <fieldset>
                    <div class="form-group">
                        <label>昵称</label>
                        <input type="text" ng-model="personalinfo.name" class="form-control needsclick" style="height: 45px;border-color: orange;">
                    </div>
                    <div class="form-group">
                        <label>头像</label>
                        <div style="padding: 10px;border: 1px solid orange;text-align:center;">
                            <div>
                                <img ng-src="{{personalinfo.avatar}}" style="width: 120px;">
                            </div>
                            <div style="margin-top:10px;">
                                <button class="btn btn-default">更换头像</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-xs-12 col-md-12" style="text-align:center;">
                        <button class="btn btn-default" style="margin-top: 50px;width: 90%;height: 45px;background-color: #F3AF34;font-size: 20px;"
                        ng-click="submit();">确定提交</button>
                    </div>
                </div>

            </form>
        </section>
    </div>
</section>