<section class="scrollable ng-scope">
    <div ui-content-for="title">
        <span>修改密码</span>
    </div>
    <div class="scrollable-content section">
        <section style="font-size:18px;">
            <form role="form" class="ng-pristine" style="margin: 60px 20px;">
                <fieldset>
                    <div class="form-group">
                        <label>请输入旧密码</label>
                        <div>
                            <input type="password" ng-model="personalinfo.name" class="form-control needsclick" style="height: 45px;border-color: orange;">
                            <a ng-click="TurntoUrl('/findbackpassword');" class="pull-right">忘记旧密码？</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>请输入新密码</label>
                        <input type="password" ng-model="personalinfo.phonenum" class="form-control needsclick" style="height: 45px;border-color: orange;">
                    </div>
                    <div class="form-group">
                        <label>确认新密码</label>
                        <input type="password" ng-model="personalinfo.phonenum" class="form-control needsclick" style="height: 45px;border-color: orange;">
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-xs-12 col-md-12" style="text-align:center;">
                        <button class="btn btn-default" style="margin-top: 50px;width: 100%;height: 45px;background-color: #F3AF34;font-size: 20px;"
                        ng-click="submit();">确认提交</button>
                    </div>
                </div>

            </form>
        </section>
    </div>
</section>