<section class="scrollable ng-scope needsclick">
    <div ui-content-for="title">
        <span>订单详情</span>
    </div>
    <div class="scrollable-content section orderdetail">
        <div class='row'>
            <div class="col-xs-8 ordernumber">
                订单号：{{order.sn}}
            </div>
            <div class="col-xs-4 status">
                {{order.status|displayOrderStatus}}
            </div>
        </div>

        <div class='row'>
            <address>
                <strong>{{order.recipient.name}}</strong><br> {{order.recipient.address}}<br>
                <abbr title="Phone">P:</abbr> {{order.recipient.phone}}
            </address>
        </div>
        <div class="list-group">
            <div class="list-group-item clearfix product" ng-repeat="item in order.orders">
                <div class="col-xs-2">
                    <img class='imgIcon' ng-src="/uploadimg/{{item.product.cover[0]}}" />
                </div>
                <div class="col-xs-8">
                    <h5>
                        <div style='white-space: nowrap'>{{item.product.name}}</div>
                        <small>{{item.product.title}}</small>
                    </h5>
                    <p>× {{item.count}}</p>
                </div>
                <div class="col-xs-2" style='text-align: right'>
                    <p>￥{{item.product.price}}
                </div>
            </div>
        </div>
        <div class="list-group">
            <div class="list-group-item clearfix">
                <span>支付方式</span>
                <span class='pull-right'>微信支付</span>
            </div>
            <div class="list-group-item clearfix">
                <span>商品总额</span>
                <span style='color:red' class='pull-right'>￥{{order.bill.productBill}}</span>
            </div>
            <div class="list-group-item clearfix">
                <div class='pull-right' style='text-align: right'>
                    <p>实付款:<span style="color:red">￥{{order.bill.productBill}}</span></p>
                    <p style='font-weight: 400;line-height: 1;color: #777;'>下单时间：{{order.orderedOn|date:'yyyy/MM/dd HH:mm:ss'}}</p>
                </div>
            </div>
        </div>

        <div style='width:100%;text-align: right'>
            <button type="button" class="btn btn-default" style=" width: 25%;color:black;margin-left:5px;">取消订单</button>
            <button type="button" class="btn btn-default" style=" width: 25%;color:black;margin-left:5px;">我要催单</button>
            <button type="button" class="btn btn-default" style=" width: 25%;color:red;margin-left:5px;border: 1px solid red">确认收货</button>
        </div>

    </div>
</section>