<section class="scrollable ng-scope">
    <div ui-content-for="title">
        <span>付款</span>
    </div>
    <div class="scrollable-content section">
        <div class="list-group">
            <div class="list-group-item clearfix">
                <span style='font-family: microsoft yahei;font-size: 15px;'>选择付款方式</span>
                <span class="pull-right">
                    <span>¥ &nbsp;</span><span class='pay_priceNum'>{{bill}}</span>
                </span>
            </div>
            <div class="list-group-item clearfix" ng-click="pay()">
                <img class='pay_wayIcon' src='\images\wechat.png' />
                <span class='paymethod'>微信支付</span>
                <span class="fa fa-chevron-right pull-right" style='padding-top: 9px'></span>
            </div>
        </div>
    </div>
</section>