<section class="scrollable ng-scope">
    <div ui-content-for="title">
        <span>个人中心</span>
    </div>
    <div class="scrollable-content section">
        <div class="row">
            <div class="col-xs-12 col-md-12" style="text-align:center;">
                <img ng-src="{{accountinfo.personalinfo.avatar}}" style="width:120px;" alt="">
                <h3 style="margin-top:10px;"><b>{{accountinfo.personalinfo.name}}</b></h3>
            </div>
        </div>
        <hr style="margin-top: 10px;margin-bottom: 10px;">
        <div class="row">
            <div class="col-xs-3 col-md-3" style="text-align:center">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <span class="ng-binding" style="display: inline-block;width: 25px;height: 25px;
                         background-color: #EFC569;border-radius: 50%;padding-top: 2px;color: white;">{{accountinfo.waitforpay.count}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <button type="button" class="btn btn-default" style="font-size: 16px;" ng-click="TurntoUrl('/waitforpay');">待付款</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 col-md-3" style="text-align:center">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <span class="ng-binding" style="display: inline-block;width: 25px;height: 25px;
                background-color: #EFC569;border-radius: 50%;padding-top: 2px;color: white;">{{accountinfo.waitfordeliver.count}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <button type="button" class="btn btn-default" style="font-size: 16px;" ng-click="TurntoUrl('/waitfordeliver');">待发货</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 col-md-3" style="text-align:center">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <span class="ng-binding" style="display: inline-block;width: 25px;height: 25px;
                background-color: #EFC569;border-radius: 50%;padding-top: 2px;color: white;">{{accountinfo.waitfortakedelivery.count}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <button type="button" class="btn btn-default" style="font-size: 16px;" ng-click="TurntoUrl('/waitfortakedelivery');">待收货</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 col-md-3" style="text-align:center">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <span class="ng-binding" style="display: inline-block;width: 25px;height: 25px;
                background-color: #EFC569;border-radius: 50%;padding-top: 2px;color: white;">{{accountinfo.waitforevaluate.count}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <button type="button" class="btn btn-default" style="font-size: 16px;" ng-click="TurntoUrl('/waitforevaluate');">待评价</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <a style="color:#333;" ng-click="scrollToDetailPics()">
            <div class="row">
                <div class="col-xs-1 col-md-1">
                    <li class="fa fa-th" style="font-size: 24px;"></li>
                </div>
                <div class="col-xs-6 col-md-6">
                    <h4>全部订单</h4>
                </div>
                <div class="col-xs-5 col-md-5">
                    <li class="fa fa-chevron-right pull-right" style="font-size: 20px;" ng-click="TurntoUrl('/allorders');"></li>
                </div>
            </div>
        </a>
        <hr>
        <a style="color:#333;" ng-click="TurntoUrl('/takedeliveryaddress');">
            <div class="row">
                <div class="col-xs-1 col-md-1">
                    <li class="fa fa-truck" style="font-size: 24px;"></li>
                </div>
                <div class="col-xs-6 col-md-6">
                    <h4>收货地址</h4>
                </div>
                <div class="col-xs-5 col-md-5">
                    <li class="fa fa-chevron-right pull-right" style="font-size: 20px;"></li>
                </div>
            </div>
        </a>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-md-12" style="text-align:center;">
                <button class="btn btn-default" style="width: 90%;height: 45px;font-size: 18px;background-color: #F7AE28;margin-top: 50px;"
                ng-click="TurntoUrl('/accountmanage');">帐号管理</button>
            </div>
        </div>

    </div>
</section>