<section class="scrollable ng-scope">
    <div ui-content-for="title">
        <span>商品列表</span>
    </div>
    <div class="scrollable-content section">
        <div style="background-color:#f2f2f2;padding:.5rem 0;">
            <div ng-class="{true:'',false:''}[IsFocus==true]" style="width:90%; height:3rem;overflow:hidden;border-radius:6px;margin:0 auto;padding:0;position:relative;">
                <input style="background-image:url(./images/search1.png);background-repeat:no-repeat;background-position: right;border:0;text-align:center;padding-left:10px;position:absolute;left:0;top:0;z-index:5;"
                class="form-control scrollable-header" type="search" placeholder="搜索商品" ng-model="keywords" ng-change="search()"
                ng-keyup="entersearch($event)" ng-focus="getCurrFocus()">
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-xs-3 col-md-3" style="padding-right:0px;">
                <select class="form-control">
                    <option>商品类型</option>
                </select>
            </div>
            <div class="col-xs-2 col-md-2" style="padding-right:0px;padding-left: 5px;">
                <select class="form-control">
                    <option>价格</option>
                </select>
            </div>
            <div class="col-xs-2 col-md-2" style="padding-right:0px;padding-left: 5px;">
                <select class="form-control">
                    <option>信用</option>
                </select>
            </div>
            <div class="col-xs-2 col-md-2" style="padding-right:0px;padding-left: 5px;">
                <select class="form-control">
                    <option>销售</option>
                </select>
            </div>
            <div class="col-xs-3 col-md-3" style="padding-left: 10px;">
                <input class="form-control" style="width: 40%;display: inline;">
                <span>-</span>
                <input class="form-control" style="width: 40%;display: inline;">
            </div>
        </div>
        <hr>
        <div ng-repeat="product in productlist">
            <div class="row">
                <div class="col-xs-3 col-md-3">
                    <img ng-src="{{product.imgurl}}" alt="">
                </div>
                <div class="col-xs-9 col-md-9" style="padding-top: 10px;">
                    <div class="row">
                        <p style="padding-right:10px;">{{product.description}}</p>
                    </div>
                    <div class="row">
                        <span>¥<span>{{product.price}}</span>元</span>
                    </div>
                </div>

            </div>
            <hr>
        </div>

    </div>
</section>