<section class="scrollable ng-scope needsclick">
    <div ui-content-for="title">
        <span>用户注册</span>
    </div>
    <div class="scrollable-content section needsclick">
        <section style="font-size:18px;">
            <form>
                <div class="row needsclick" style="margin-top:10px;">
                    <div class="col-xs-12 col-md-12 needsclick">
                        <input type="text" ng-model="user.name" class="form-control needsclick" style="height: 45px;" placeholder="用户名">
                    </div>
                </div>
                <div class="row needsclick" style="margin-top: 10px;">
                    <div class="col-xs-12 col-md-12 needsclick">
                        <input type="text" ng-model="user.phonenumber" class="form-control needsclick" style="height: 45px;" placeholder="手机号码">
                    </div>
                </div>
                <div class="row needsclick" style="margin-top: 10px">
                    <div class="col-xs-8 col-md-8 needsclick" style="padding-right: 0px;">
                        <input type="text" ng-model="user.validCode" class="form-control needsclick" style="height: 45px;" placeholder="短信验证码">
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <button class="btn btn-primary" ng-disabled="!sendflag" style="height:45px;backgoround-color:{{getauthcodebtnbackcolor}};"
                            ng-click="sendAuthCode();">{{getauthcodebtntext}}</button>
                    </div>
                </div>
                <div class="row needsclick" style="margin-top: 10px">
                    <div class="col-xs-12 col-md-12 needsclick">
                        <input type="password" ng-model="user.password" class="form-control needsclick" style="height: 45px;" placeholder="密码">
                    </div>
                </div>
                <div class="row needsclick" style="margin-top: 10px">
                    <div class="col-xs-12 col-md-12 needsclick">
                        <input type="password" ng-model="repassword" class="form-control needsclick" style="height: 45px;" placeholder="确认密码">
                    </div>
                </div>
                <div class="row needsclick" style="margin-top: 10px;">
                    <div class="col-xs-12 col-md-12 needsclick" style="text-align:center;">
                        <button class="btn btn-primary" style="width: 100%;height: 45px;font-size: 20px;" ng-click="doRegister()">注册</button>
                    </div>
                </div>
                <div class="row" style="margin: 10px 20px 20px 10px;">
                    <div class="col-xs-6 col-md-6">
                        <a ng-click="TurntoUrl('/login');" class="pull-left">登录</a>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <a ng-click="TurntoUrl('/findbackpassword');" class="pull-right">忘记密码</a>
                    </div>
                </div>
            </form>
        </section>
    </div>
</section>

<div ui-content-for="navbarAction">
</div>
<div ui-content-for="homeAction">
</div>