<section class="scrollable ng-scope">
    <div ui-content-for="title">
        <span>评价回复</span>
    </div>
    <div class="scrollable-content section" style="height:100%;background-color: #F1F0F0;font-size:16px;padding: 0px;">
        <section style="background-color: white;margin-top:10px;padding: 15px 20px;" ng-repeat="replyrecord in replyrecords">
            <div class="row">
                <div class="col-xs-10 col-md-10">
                    <img ng-src="{{replyrecord.useravatar}}" alt="" style="width:35px;height:35px;border-radius: 200px;"> 
                    <span style="margin-left: 10px;">{{replyrecord.username}}</span>
                </div>
                <div class="col-xs-2 col-md-2" style="padding-right: 0px;">
                    <span style="color: #B9B9B9;">＃{{replyrecord.floor}}楼</span>
                </div>
            </div>
            <hr style="margin-top: 15px;margin-bottom: 15px;">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <p style="font-size: 18px;">{{replyrecord.commentcontent}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-9 col-md-9">
                    <span style="color: #B9B9B9;">{{replyrecord.publishdate}}</span>
                </div>
                <div class="col-xs-3 col-md-3" style="padding-right: 0px;text-align: center;">
                    <button class="btn btn-default" style="width: 70px;">回复</button>
                </div>
            </div>
        </section>
    </div>
</section>