<section class="scrollable ng-scope">
    <div ui-content-for="title">
        <span>购物车</span>
    </div>
    <div class="scrollable-content section">
        <section style="padding: 15px;font-size: 16px;" ng-repeat="shoppingitem in cart">
            <div class="row">
                <div class="col-xs-1 col-md-1" style="padding-top: 15px;">
                    <input type="checkbox" ng-change="checkitem()" ng-model="shoppingitem.checked" aria-label="" class="styled needsclick" style="zoom: 1.2;">
                </div>
                <div class="col-xs-3 col-md-3" style="padding-right:0px;">
                    <img ng-src="/uploadimg/{{shoppingitem.product.cover[0]}}">
                </div>
                <div class="col-xs-8 col-md-8">
                    <div class="row">
                        <div class="col-xs-9 col-md-9" style="padding-right:0px;">
                            <p>{{shoppingitem.product.name}}</p>
                            <p>{{shoppingitem.product.title}}</p>
                        </div>
                        <div class="col-xs-3 col-md-3" style="text-align:right;">
                            <span>¥<span class="ng-binding">{{shoppingitem.product.price}}</span></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <div class="row">
                                <div class="col-xs-4 col-md-4">
                                    <li class="fa fa-minus" ng-click="reduce(shoppingitem)">
                                </div>
                                <div class="col-xs-4 col-md-4">
                                    <span class="ng-binding">{{shoppingitem.count}}</span>
                                </div>
                                <div class="col-xs-4 col-md-4" ng-click="add(shoppingitem)">
                                    <li class="fa fa-plus">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <li ng-click="remove($index)" class="fa fa-trash-o pull-right" style="font-size:24px;"></li>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </section>
        <div class=" navbar-app scrollable-footer">
            <div class="col-xs-8 col-md-8" style="text-align:center;padding:12px 0px;border-right: 1px solid lightgray;">
                <div class="row" style="font-size: 18px;">
                    <div class="col-xs-6 col-md-6" style="padding-right: 0px;">
                        <span>已选<span class="ng-binding">{{kindcount}}</span>种商品</span>
                    </div>
                    <div class="col-xs-6 col-md-6" style="padding-left: 0px;text-align: left;">
                        <span>合计：¥<span class="ng-binding">{{total}}</span></span>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-md-4" style="text-align:center;padding:12px 0px;background-color: #F7BD5B;">
                <a href="#" ng-click="submitOrder()" style="font-size:20px;">结算（<span>{{kindcount}}</span>）</a>
            </div>
        </div>

    </div>
</section>