<section class="scrollable ng-scope">
    <div ui-content-for="title">
        <span>收货地址</span>
    </div>
    <div class="scrollable-content section">
        <section style="font-size: 18px;">
            <div class="list-group">
                <div class="row list-group-item" ng-repeat="takedeliveryaddress in addresses">
                    <div class="col-xs-10 col-sm-10" ng-click='selectRecip(takedeliveryaddress)'>
                        {{takedeliveryaddress.address}}<br /> {{takedeliveryaddress.name}}&nbsp&nbsp&nbsp&nbsp{{takedeliveryaddress.phone}}
                    </div>
                    <div class='col-xs-2 col-sm-2 pull-right' style="padding-top:5px">
                        <div class="row" style="text-align: right">
                            <i class="fa fa-pencil" ng-click="edit(takedeliveryaddress._id)"></i>
                            <i style='color:red;' ng-click="remove($index,takedeliveryaddress._id)" class="fa fa-trash"></i>
                        </div>

                    </div>


                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <button class="btn btn-default fa fa-plus-square pull-right" ng-click="TurntoUrl('/editaddress/new/0');">添加地址</button>
                </div>
            </div>

        </section>


    </div>
</section>