<section class="scrollable ng-scope">
    <div ui-content-for="title">
        <span>待发货</span>
    </div>
    <div class="scrollable-content section">
        <section style="background-color: #ECE7E7;padding: 10px;" ng-repeat="waitfortakedeliveryitem in waitfortakedeliverylist">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            <img ng-src="{{waitfortakedeliveryitem.imgurl}}" alt="...">
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="row" style="margin-top: 5px;">
                                <div class="col-xs-12 col-md-12">
                                    <span>{{waitfortakedeliveryitem.description}}</span>
                                    <span class="pull-right">￥<span class="ng-binding">{{waitfortakedeliveryitem.price}}</span></span>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-12 col-md-12" style="text-align:right;">
                                    <span>×<span class="ng-binding">{{waitfortakedeliveryitem.eachproductcount}}</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="background-color: #585757;">
            <div class="row">
                <div class="col-xs-12 col-md-12" style="text-align:right;">
                    <span>共<span class="ng-binding">{{waitfortakedeliverylist.length}}</span>件商品</span><span>合计：¥<span class="ng-binding">{{waitfortakedeliveryitem.totalsum}}</span>元</span>
                </div>
            </div>
        </section>
        <div class="row" style="margin-top:15px;">
            <div class="col-xs-12 col-md-12">
                <button type="button" class="btn btn-default pull-right">提醒发货</button>
            </div>
        </div>
        <hr>
    </div>
</section>