<section class="scrollable ng-scope">
    <div ui-content-for="title">
        <span>待付款</span>
    </div>
    <div class="scrollable-content section">
        <section style="background-color: #ECE7E7;padding: 10px;" ng-repeat="waitforpayitem in waitforpaylist">
            <div class="row">
                <div class="col-xs-2 col-md-2" style="text-align:center;">
                    <input type="checkbox" aria-label="..." style="width: 60px;height: 60px;">
                </div>
                <div class="col-xs-10 col-md-10" style="padding-left:0px;">
                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            <img ng-src="{{waitforpayitem.imgurl}}" alt="...">
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="row" style="margin-top: 5px;">
                                <div class="col-xs-12 col-md-12">
                                    <span>{{waitforpayitem.description}}</span>
                                    <span class="pull-right">￥<span class="ng-binding">{{waitforpayitem.price}}</span></span>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-12 col-md-12" style="text-align:right;">
                                    <span>×<span class="ng-binding">{{waitforpayitem.eachproductcount}}</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="background-color: #585757;">
            <div class="row">
                <div class="col-xs-12 col-md-12" style="text-align:right;">
                    <span>共<span class="ng-binding">{{waitforpaylist.length}}</span>件商品</span><span>合计：¥<span class="ng-binding">{{waitforpayitem.totalsum}}</span>元</span>
                </div>
            </div>
        </section>
        <div class="row" style="margin-top:15px;">
            <div class="col-xs-12 col-md-12">
                <button type="button" class="btn btn-default pull-right">取消订单</button>
            </div>
        </div>
        <hr>
        <div class="navbar navbar-app navbar-absolute-bottom">
            <div class="col-xs-8 col-md-8" style="text-align:center;padding:12px 0px;border-right: 1px solid lightgray;">
                <span style="font-size: 18px;">实付金额：¥<span class="ng-binding" style="color: #E89710;">39.00</span>元</span>
            </div>
            <div class="col-xs-4 col-md-4" style="text-align:center;padding:12px 0px;background-color: #F7BD5B;">
                <a href="#" style="font-size:20px;">去付款</a>
            </div>
        </div>

    </div>
</section>