<section>
    <div class="row">
        <div class="col-xs-4 col-md-4" style="text-align:center;font-size:20px;">
            <hr>
        </div>
        <div class="col-xs-4 col-md-4" style="text-align:center;font-size:20px;">
            <p>{{productModel.name}}</p>
        </div>
        <div class="col-xs-4 col-md-4" style="text-align:center;font-size:20px;">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12" ng-click="productCtrl.itemClick(productModel.products[0])" style="text-align:center;">
            <img ng-src='/uploadimg/{{productModel.products[0].cover[0]}}'>
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px; padding: 1px 10px">
        <div class="col-xs-4 col-md-4" style="padding-left: 0px;padding-right: 0px;" ng-repeat="item in productModel.products|cutProductWithoutFirst:productModel.productRelation">
            <div class="thumbnail" style="border: 0px;margin-bottom: 0px;" ng-click="productCtrl.itemClick(item)">
                <img ng-src="/uploadimg/{{item.cover[0]}}" alt="...">
                <div class="caption" style="text-align: center;background: #F3F0F0;">
                    <p style="margin: 0 0 0px; text-overflow: ellipsis;white-space: nowrap;width: 100%;overflow: hidden;">{{item.name}}</p>
                </div>
            </div>
        </div>
        <div ng-show='productModel.products.length>7' class="col-xs-4 col-md-4" style="padding-left: 0px;padding-right: 0px;">
            <div class="thumbnail" style="border: 0px;margin-bottom: 0px;" ng-click="productCtrl.moreItemClick(item)">
                <img ng-src="/uploadimg/{{productModel.products[7].cover[0]}}" alt="...">
                <div class="caption" style="text-align: center;background: #F3F0F0;">
                    <p style="margin: 0 0 0px; text-overflow: ellipsis;white-space: nowrap;width: 100%;overflow: hidden;">更多</p>
                </div>
            </div>
        </div>
    </div>
</section>