<section>
    <div style="height: 240px">
        <uib-carousel active="0" no-wrap="false">
            <uib-slide ng-repeat="item in productdetailModel.cover" index="$index">
                <img ng-src="/uploadimg/{{item}}" style="margin:auto;">
                <div class="carousel-caption">
                </div>
            </uib-slide>
        </uib-carousel>
    </div>
    <div style="padding-top:10px;">
        <h4 class="ng-binding" style="color: #656764;">{{productdetailModel.title}}</h4>
    </div>
    <div>
        <p class="ng-binding" style="color: #94CA55;">
            {{productdetailModel.description}}
        </p>
    </div>
    <div>
        <span style="margin-right:5px;">¥</span><span class="ng-binding" style="color:orange;font-size:20px;">{{productdetailModel.price}}</span>
        <span style="margin-left:10px;">已售：</span><span class="ng-binding">{{productdetailModel.sold}}</span>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-8 col-md-8">
            <div class="row">
                <div class="col-xs-5" style="padding-right:0px;width: 90px;">
                    <h4>购买数量</h4>
                </div>
                <div class="col-xs-7" style="padding-left:5px;">
                    <span>库存：</span><span class="ng-binding">{{productdetailModel.inStock}}</span>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-md-4">
            <div class="row">
                <div class="col-xs-4 col-md-4">
                    <li class="fa fa-minus" ng-click="detailCtrl.reduce()">
                </div>
                <div class="col-xs-4 col-md-4">
                    <span class="ng-binding">{{buyinfo.count}}</span>
                </div>
                <div class="col-xs-4 col-md-4" ng-click="detailCtrl.add()">
                    <li class="fa fa-plus">
                </div>
            </div>
        </div>
    </div>
    <hr>
    <a style="color:#333;" ng-click="detailCtrl.scrollToDetailPics()">
        <div class="row">
            <div class="col-xs-4 col-md-4">
                <h4>商品详情</h4>
            </div>
            <div class="col-xs-8 col-md-8">
                <li class="fa fa-chevron-right pull-right" style="font-size: 20px;"></li>
            </div>
        </div>
    </a>
    <hr>
    <div class="row" ng-click="detailCtrl.TurntoUrl('/evaluation');">
        <div class="col-xs-6 col-md-6">
            <h4>商品评价</h4>
        </div>
        <div class="col-xs-6 col-md-6">
            <div class="row">
                <div class="col-xs-10 col-md-10" style="text-align:right;padding-right:0px;padding-top: 2px;">
                    <span>共<span class="ng-binding">0</span>条评价</span>
                </div>
                <div class="col-xs-2 col-md-2" style="padding-top:3px;">
                    <li class="fa fa-chevron-right pull-right" style="font-size: 20px;"></li>
                </div>
            </div>

        </div>
    </div>
    <hr>
    <div id="pageDetailsDiv">
        <img ng-repeat="image in productdetailModel.images" ng-src="/uploadimg/{{image}}">
    </div>
</section>