@import "awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.less";
@import "angular-toastr/dist/angular-toastr.less";
.pay_priceNum {
    color: #ef9c24;
    font-family: arial;
    font-weight: bold;
    font-size: 17px;
}

.paymethod {
font-size: 14px;
margin-left: 5px
}

.pay_wayIcon {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.orderdetail{
    background-color: #E6E6E6;
    .row{  
        background-color: white;    
        padding: 10px 1px;
        margin-bottom: 10px;
        address {
            margin-bottom:0px;
            padding: 1px 15px;
        }
    }

    .list-group{
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 10px;
    }

}
.product{
    .col-xs-2{
        padding-left: 0px;
        padding-right: 0px;
    }
    h5{
        div{
             text-overflow: ellipsis;
             overflow: hidden;
             white-space: nowrap
        }
        max-height: 60px;
        text-overflow: ellipsis;
        overflow: hidden;

    }

}
.imgIcon{
    width: 50px;
    height: 50px;
}




 .ordernumber {
        text-align: left;
    }
    .status{
        text-align: right;
        color: red;
    }


.paysuccess{
    padding-top: 10px;
    background-color: #F0FBF4;
    text-align: center;
    h3{
        color:#6ACA8D
    }
}

.paysuccesscontent{
    padding-top: 50px;
    text-align: center;
    .vieworder{
        border-right: 2px solid #E6E6E6
    }
}
