<div class="input-group">
    <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}" ng-model="dateModel" is-open="opened" datepicker-options="dateOptions"
    ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="datepickerCtrl.open()"><i class="fa fa-calendar"></i></button>
    </span>
</div>