<div class="btn-group" role="group">
    <button ui-turn-on='{{yaeaState}}' class="btn btn-default dropdown-toggle">
                        {{vm.title}}<span class="caret"/>
    </button>
    <ul class="dropdown-menu" ui-outer-click="Ui.turnOff(yaeaState)" ui-outer-click-if="Ui.active(yaeaState)" role="menu"
        ui-show="{{yaeaState}}" ui-state="{{yaeaState}}">
        <li style="padding: 0px 15px;" ng-repeat="item in dateModel">
            <label><input type="checkbox" ng-model="checkValue" ng-change="vm.checkItem(checkValue,item)"/> {{item}}</label>
        </li>
        <li style="padding: 0px 15px;">
            <a class="btn btn-default" role="button" ui-turn-off='{{yaeaState}}' ng-click="vm.onclick()">确定</a>
        </li>
    </ul>
</div>