<div class="container">
    <div class="navbar-header">
        <button ui-toggle='listtoggle' type="button" class="navbar-toggle" style='margin-top: 0px;margin-bottom: 0px; '>
            <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" ><span  ui-yield-to="title" class="logo">Mobile Angular UI</span></a>
    </div>
    <div ui-yield-to="menu" class="navbar-collapse navbar-collapse-nav" ui-class="{'collapse': !listtoggle}" ui-state='listtoggle'>
        <ul class="nav navbar-nav navbar-right">
            <li role="presentation" ui-turn-off='listtoggle'><a href="/">控制台</a></li>
            <li class="dropdown">
                <a ui-turn-on='listDropdown' class='btn'>
                                列表
                            </a>
                <ul class="dropdown-menu" ui-outer-click="Ui.turnOff('listDropdown')" ui-outer-click-if="Ui.active('listDropdown')" role="menu"
                    ui-show="listDropdown" ui-state="listDropdown" ui-turn-off="listDropdown">
                    <li ui-turn-off='listtoggle'><a href="/newlist">新建列表</a></li>
                    <li ui-turn-off='listtoggle'><a href="/listmanage">列表管理</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a ui-turn-on='productDropdown' class='btn'>
                                商品
                            </a>
                <ul class="dropdown-menu" ui-outer-click="Ui.turnOff('productDropdown')" ui-outer-click-if="Ui.active('productDropdown')"
                    role="menu" ui-show="productDropdown" ui-state="productDropdown" ui-turn-off="productDropdown">

                    <li ui-turn-off='listtoggle'><a href="/newproduct">新建商品</a></li>
                    <li ui-turn-off='listtoggle'><a href="/productmanage">商品管理</a></li>
                </ul>
            </li>
            <li role="presentation" ui-turn-off='listtoggle'><a href="/ordermanage">订单</a></li>

            <li class="dropdown">
                <a ui-turn-on='supplierDropdown' class='btn'>
                                供应商
                            </a>
                <ul class="dropdown-menu" ui-outer-click="Ui.turnOff('supplierDropdown')" ui-outer-click-if="Ui.active('supplierDropdown')"
                    role="menu" ui-show="supplierDropdown" ui-state="supplierDropdown" ui-turn-off="supplierDropdown">

                    <li ui-turn-off='listtoggle'><a href="/newsupplier">新建供应商</a></li>
                    <li ui-turn-off='listtoggle'><a href="/suppliermanage">供应商管理</a></li>
                </ul>
            </li>
            <li role="presentation" ui-turn-off='listtoggle'><a href="/systemdeploy">系统配置</a></li>
            <li role="presentation" ui-turn-off='listtoggle'><a href="/systemmanage">系统</a></li>
        </ul>
    </div>
</div>