@import "ng-tags-input/ng-tags-input.less";
@import "bootstrap/less/utilities.less";

@import "bootstrap/less/forms.less";
@import "bootstrap/less/navs.less";
@import "bootstrap/less/navbar.less";
@import "bootstrap/less/modals.less";
.hazcorner {
    position: relative;
    /*padding:10px;*/
   border-radius: 4px;
    text-shadow: 1px 1px #000000;
    
     .cornermark {
    position:absolute;
    right: -4px;
    top: -3px
}
}