<section>

    <div class="modal-header">
        <h3 class="modal-title">上传附件</h3>
    </div>
    <div class="modal-body">


        <div style='height:400px'>

            <div class="scrollable-content section">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-xs-6 col-md-3 thumbnail" ng-repeat="allattachmentsName in allattachments">
                            <img style="height:150px" ng-src="/uploadimg/{{allattachmentsName}}" alt="...">
                            <div class='caption'>
                                <p style=''>
                                    <input type="checkbox" ng-model="checkValue" ng-change="dialogCtrl.checkImage(checkValue,allattachmentsName)" alt="">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-3 thumbnail" ng-repeat="listattachment in listattachments|filter:{show: true}">
                            <img style="height:150px" ngf-thumbnail="listattachment" alt="...">
                            <div class='caption'>
                                <p>
                                    <uib-progressbar ng-show="listattachment.progress>0" animate="false" value="listattachment.progress" type="success"><b>{{listattachment.progress}}%</b></uib-progressbar>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="navbar-app scrollable-footer">
                <div class="col-md-12" style="margin-top: 15px;text-align: center;">
                    <button class="btn btn-default" ngf-select="dialogCtrl.uploadFiles($files,$invalidFiles)" multiple multipleaccept="image/*"
                    ngf-max-height="1000" ngf-max-size="1MB">上传附件</button>

                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="dialogCtrl.ok()">确定</button>
        <button class="btn btn-warning" type="button" ng-click="dialogCtrl.cancel()">取消</button>
    </div>



</section>