<section>
    <div class="modal-header">
        <h3 class="modal-title">删除</h3>
    </div>
    <div class="modal-body">
        <div style='height:50px'>
            <div class="col-md-12" style="margin-top: 15px;text-align: center;">
                是否确定要删除？
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="dialogCtrl.ok()">确定</button>
        <button class="btn btn-warning" type="button" ng-click="dialogCtrl.cancel()">取消</button>
    </div>
</section>