<section class="scrollable ng-scope">
    <div ui-content-for="title">
        <span>列表详情</span>
    </div>

    <div class="scrollable-content section">
        <form name='listDetailForm'>
            <fieldset>
                <div class="row">
                    <div class="col-md-12">
                        <span>{{listinfo.sn}}-</span>
                        <input required name="name" ng-readonly="!isEdit" type="text" ng-model="listinfo.name" class="form-control ng-pristine ng-untouched ng-valid needsclick"
                            style="display: inline;width: 75%;max-width:300px;">
                        <div ng-messages="listDetailForm.name.$error" style="color:maroon" role="alert">
                            <div ng-message="required">请输入列表名</div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-12">
                        <button ng-click="ListDetailCtl.toggleOperate()" class="btn btn-default">编辑</button>
                        <button class="btn btn-default">操作</button>
                        <button class="btn btn-default">下架</button>
                    </div>
                </div>
            </fieldset>
            <fieldset style="margin-top:10px;">
                <legend>列表细节</legend>
                <div class="row">
                    <div class="col-md-5">
                        <label style="width:70px;">类型：</label>
                        <select ng-disabled="!isEdit" ng-model="listinfo.type" ng-options="item.code as item.context for item in codetable.List.Type"
                            style="display: inline;width: 75%;max-width:300px;" class="form-control ng-pristine ng-untouched ng-valid needsclick"></select>
                    </div>
                    <div class="col-md-7">
                        <label style="width:70px;">状态：</label>
                        <select ng-disabled="!isEdit" ng-model="listinfo.status" ng-options="item.code as item.context for item in codetable.List.Status"
                            style="display: inline;width: 75%;max-width:300px;" class="form-control ng-pristine ng-untouched ng-valid needsclick"></select>
                    </div>
                </div>
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-3 col-xs-3" style="padding-right: 0px;width: 90px;">
                                <label style="padding-left: 0px;width: 75px;padding-right: 0px;">开始时间：</label>
                            </div>
                            <div class="col-md-9 col-xs-9" style="padding-left: 0px;">
                                <yaea-Datepicker ng-hide="!isEdit" date-format='yyyy/MM/dd' date-model='listinfo.startTime' style="max-width:300px;"></yaea-Datepicker>
                                <span ng-hide="isEdit">{{listinfo.startTime | date:'yyyy/MM/dd'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-3 col-xs-3" style="padding-right: 0px;width: 90px;">
                                <label style="padding-left: 0px;width: 75px;padding-right: 0px;float: initial;">结束时间：</label>
                            </div>
                            <div class="col-md-9 col-xs-9" style="padding-left: 0px;">
                                <yaea-Datepicker ng-hide="!isEdit" date-format='yyyy/MM/dd' date-model='listinfo.endTime' style="width: 75%;max-width:300px;"></yaea-Datepicker>
                                <span ng-hide="isEdit">{{listinfo.endTime | date:'yyyy/MM/dd'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset style="margin-top:10px;">
                <legend>列表描述</legend>
                <div class="row">
                    <div class="col-md-12">
                        <textarea ng-model="listinfo.description" ng-readonly="!isEdit" wrap="soft" class="form-control ng-pristine ng-untouched ng-valid needsclick"
                            style="height:100px;resize: none;"></textarea>
                    </div>
                </div>
            </fieldset>
            <fieldset style="margin-top:10px;">
                <legend>产品条件</legend>
                <div class="row">
                    <div class="col-md-12">
                        <textarea ng-model="listinfo.productRelation" ng-readonly="!isEdit" wrap="soft" class="form-control ng-pristine ng-untouched ng-valid needsclick"
                            style="height:100px;resize: none;"></textarea>
                    </div>
                </div>
            </fieldset>
            <fieldset style="margin-top:10px;">
                <legend>列表附件</legend>
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-4" ng-repeat="listattachment in listinfo.attachments">
                                <div class="thumbnail hazcorner">
                                    <button ng-show="isEdit" type="button" ng-click="removeAttachment($index)" class="btn btn-danger cornermark">
                                    删除
                                </button>
                                    <img style="height:150px" ng-src="/uploadimg/{{listattachment}}" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" style="margin-top: 30px;">
                        <button class="btn btn-default" ng-show="isEdit" ng-click="uploadAttachments();">上传附件</button>
                    </div>
                </div>
            </fieldset>
            <fieldset style="margin-top:10px;">
                <legend>活动封面</legend>
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-4" ng-repeat="activitycover in listinfo.cover">
                                <div class="thumbnail hazcorner">
                                    <button ng-show="isEdit" type="button" ng-click="removeCover($index)" class="btn btn-danger cornermark">
                                    删除
                                </button>
                                    <img style="height:150px" ng-src="/uploadimg/{{activitycover}}" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" style="margin-top: 30px;">
                        <button class="btn btn-default" ng-show="isEdit" ng-click="uploadCovers();">上传封面</button>
                    </div>
                </div>
            </fieldset>
            <fieldset style="margin-top:10px;">
                <legend>列表链接</legend>
                <div class="row">
                    <div class="col-md-10">
                        <div class="panel panel-default">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="listlink in listinfo.listlinks"><a href="#">{{listlink.url}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2" style="margin-top: 30px;">
                        <button class="btn btn-default" ng-show="isEdit">添加链接</button>
                    </div>
                </div>
            </fieldset>
            <fieldset style="margin-top:10px;">
                <legend>操作历史</legend>
                <div class="row">
                    <div class="col-md-10">
                        <div class="panel panel-default">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>列表号</td>
                                        <td>列表名</td>
                                        <td>操作类型</td>
                                        <td>操作时间</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="operatehistory in listinfo.operatehistorys">
                                        <td>{{operatehistory.listnum}}</td>
                                        <td>{{operatehistory.listname}}</td>
                                        <td>{{operatehistory.operatetype}}</td>
                                        <td>{{operatehistory.operatetime}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-2" style="margin-top: 30px;">
                        <button class="btn btn-default" ng-show="isEdit">添加操作</button>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="row">
                    <div class="col-md-12" style="text-align:center;">
                        <button ng-disabled="listDetailForm.$invalid" class="btn btn-primary" style="width:100px;" ng-click="update();" ng-show="isEdit">保存</button>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>
</section>