<section class="scrollable ng-scope">
    <div ui-content-for="title">
        <span>列表管理</span>
    </div>
    <div class="scrollable-content section">
        <fieldset>
            <div class="row" style="margin-top:20px;">
                <div class="col-xs-12 col-md-6">
                    <input type="text" ng-model="searchText" class="form-control ng-pristine ng-untouched ng-valid needsclick" style="display: inline;max-width:300px;width:80%;">
                    <button class="btn btn-primary" ng-click="search();" style="margin-left:5px;">查询</button>
                </div>
            </div>

        </fieldset>
        <hr>
        <div class="panel panel-default">
            <table class="table">
                <thead>
                    <tr>
                        <td></td>
                        <td>列表号</td>
                        <td>列表名</td>
                        <td>类型</td>
                        <td>状态</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-dblclick="selectList(listdata._id)" ng-repeat="listdata in listdatas">
                        <td>
                            <button type="button" class="btn btn-default btn-xs" ng-click="deleteList(listdata._id)">
                                <span class="fa fa-remove"></span>
                            </button>
                        </td>
                        <td>{{listdata.sn}}</td>
                        <td>{{listdata.name}}</td>
                        <td>{{listdata.type | displayListType}}</td>
                        <td>{{listdata.status | displayListStatus}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12" style="text-align:center;">
                <uib-pagination boundary-links="true" total-items="totalItems" ng-change='pageChange()' ng-model="currentPage" class="pagination-sm"
                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
            </div>
        </div>

</section>