<section class="scrollable ng-scope">
    <div ui-content-for="title">
        <span>用户登录</span>
    </div>
    <div ui-content-for="menu">
        
    </div>
    <div class="scrollable-content section">
        <div class="row">
            <div class="col-xs-12 col-md-12" style="margin-top:50px;margin-left:20%;width:60%;">
                <form role="form" class="login-form">
                    <fieldset>
                        <legend>用户登录</legend>
                        <div>
                            <label>用户名</label>
                            <input type="text" ng-model="user.phonenumber" placeholder="email/用户名/手机号码" class="form-control ng-pristine ng-untouched ng-valid needsclick" style="height: 45px;">
                        </div>
                        <div style="margin-top:10px;">
                            <label>密码</label>
                            <input type="password" ng-model="user.password" class="form-control ng-pristine ng-untouched ng-valid needsclick" style="height: 45px;">
                        </div>
                        <div style="margin-top:15px;">
                            <button type="button" ng-click="login()" class="btn btn-primary" style="height: 45px;width:100%;">提交</button>
                        </div>
                    </fieldset>

                </form>
            </div>
        </div>
    </div>
</section>