<section class="scrollable ng-scope">
    <div ui-content-for="title">
        <span>新建列表</span>
    </div>

    <div class="scrollable-content section">
        <form name='newlistForm'>
            <fieldset>
                <div class="row">
                    <div class="col-md-6" style="margin-top:10px;">
                        <label style="width: 70px;">列表名：</label>
                        <input required name='name' type="text" ng-model="newList.name" class="form-control ng-pristine ng-untouched ng-valid needsclick"
                            style="display: inline;width: 75%;max-width:300px;">
                        <div ng-messages="newlistForm.name.$error" style="color:maroon" role="alert">
                            <div ng-message="required">请输入列表名</div>
                        </div>
                    </div>

                    <div class="col-md-6" style="margin-top:10px;">
                        <label>列表类型：</label>
                        <select name='type' required ng-model="newList.type" ng-options="item.code as item.context for item in codetable.List.Type"
                            style="display: inline;width: 75%;max-width:300px;" class="form-control ng-pristine ng-untouched ng-valid needsclick"></select>
                        <div ng-messages="newlistForm.type.$error" style="color:maroon" role="alert">
                            <div ng-message="required">请选择类型</div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6" style="margin-top:10px;">
                        <label>列表状态：</label>
                        <select name='status' required ng-model="newList.status" ng-options="item.code as item.context for item in codetable.List.Status"
                            style="display: inline;width: 75%;max-width:300px;" class="form-control ng-pristine ng-untouched ng-valid needsclick">
                    </select>
                        <div ng-messages="newlistForm.status.$error" style="color:maroon" role="alert">
                            <div ng-message="required">请选择状态</div>
                        </div>

                    </div>
                    <div class="col-md-6" style="margin-top:10px;">
                        <label class="col-md-2 col-xs-2" style="padding-left: 0px;width: 75px;padding-right: 0px;padding-top: 5px;">开始时间：</label>
                        <yaea-Datepicker class="col-md-10 col-xs-10" date-format='yyyy/MM/dd' date-model='newList.startTime' style="width: 75%;max-width: 300px;"></yaea-Datepicker>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="margin-top:10px;">
                        <label class="col-md-2 col-xs-2" style="padding-left: 0px;width: 75px;padding-right: 0px;padding-top: 5px;">结束时间：</label>
                        <yaea-Datepicker class="col-md-10 col-xs-10" date-format='yyyy/MM/dd' date-model='newList.endTime' style="width: 75%;max-width: 300px;"></yaea-Datepicker>

                    </div>
                    <div class="col-md-6" style="margin-top:10px;">
                        <label class="col-md-2 col-xs-2" style="padding-left: 0px;width: 75px;padding-right: 0px;padding-top: 10px;">标签：</label>
                        <tags-input class="col-md-10 col-xs-10" placeholder="添加标签" min-length="1" ng-model="newList.labels" style="padding-left: 0px;padding-right: 0px;width: 75%;max-width: 300px;">
                            <auto-complete load-on-empty='true' load-on-focus='true' source="listService.labels($query)"></auto-complete>
                        </tags-input>

                    </div>
                </div>
            </fieldset>
            <fieldset style="margin-top:10px;">
                <legend>列表描述</legend>
                <div class="row">
                    <div class="col-md-12">
                        <textarea name="listdescription" ng-model="newList.description" wrap="soft" class="form-control ng-pristine ng-untouched ng-valid needsclick"
                            style="height:100px;resize: none;"></textarea>
                    </div>
                </div>
            </fieldset>
            <fieldset style="margin-top:10px;">
                <legend>产品条件</legend>
                <div class="row">
                    <div class="col-md-12">
                        <textarea name="productrelation" ng-model="newList.productRelation" wrap="soft" class="form-control ng-pristine ng-untouched ng-valid needsclick"
                            style="height:100px;resize: none;"></textarea>
                    </div>
                </div>
            </fieldset>
        </form>
        <fieldset style="margin-top:10px;">
            <legend>列表附件</legend>
            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-xs-6 col-md-3" ng-repeat="listAttachment in newList.attachments">

                            <div class="thumbnail hazcorner">
                                <button type="button" ng-click="removeAttachment($index)" class="btn btn-danger cornermark">
                                    删除
                                </button>

                                <img style="height:150px" ng-src="/uploadimg/{{listAttachment}}" alt="...">


                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-md-2" style="margin-top: 30px;">
                    <!--<button class="btn btn-default">上传附件</button>-->
                    <button class="btn btn-default" ng-click="uploadAttachments()">上传附件</button>

                </div>
            </div>
        </fieldset>
        <fieldset style="margin-top:10px;">
            <legend>列表封面</legend>
            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-xs-6 col-md-3" ng-repeat="activityCover in newList.cover">

                            <div class="thumbnail hazcorner">
                                <button type="button" ng-click="removeCover($index)" class="btn btn-danger cornermark">
                                    删除
                                </button>

                                <img style="height:150px" ng-src="/uploadimg/{{activityCover}}" alt="...">


                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-2" style="margin-top: 30px;">
                    <button class="btn btn-default" ng-click="uploadCovers()">上传封面</button>
                </div>
            </div>
        </fieldset>
        <fieldset ng-hide="isDialog">
            <div class="row">
                <div class="col-md-12" style="text-align:center;">
                    <button ng-disabled="newlistForm.$invalid" class="btn btn-primary" style="width:100px;" ng-click="save()">保存</button>
                </div>
            </div>
        </fieldset>
    </div>
</section>