<section>

    <div class="modal-header">
        <h3 class="modal-title">新建列表</h3>
    </div>
    <div class="modal-body">
        <div style="height:400px" ng-include="'newlist.html'">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="newlistForm.$invalid" ng-click="dialogCtrl.ok()" type="button">确定</button>
        <button class="btn btn-warning" ng-click="dialogCtrl.cancel()" type="button">取消</button>
    </div>



</section>