<section class="scrollable ng-scope">
    <div ui-content-for="title">
        <span>新建商品</span>
    </div>
    <div class="scrollable-content section">
        <form name='newproductForm'>
            <fieldset>
                <div class="row">
                    <div class="col-md-6" style="margin-top:10px;">
                        <label>商品名称：</label>
                        <input required name="name" type="text" ng-model="newProduct.name" class="form-control ng-pristine ng-untouched ng-valid needsclick"
                            style="display: inline;width: 75%;max-width:300px;">
                        <div ng-messages="newproductForm.name.$error" style="color:maroon" role="alert">
                            <div ng-message="required">请输入商品名称</div>
                        </div>
                    </div>
                    <div class="col-md-6" style="margin-top:10px;">
                        <label>商品价格：</label>
                        <input type="number" ng-model="newProduct.price" class="form-control ng-pristine ng-untouched ng-valid needsclick" style="display: inline;width: 75%;max-width:300px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="margin-top:10px;">
                        <label style="width: 70px;">库存：</label>
                        <input type="number" ng-model="newProduct.inStock" class="form-control ng-pristine ng-untouched ng-valid needsclick" style="display: inline;width: 75%;max-width:300px;">
                    </div>
                    <div class="col-md-6" style="margin-top:10px;">
                        <label style="width: 70px;">已售：</label>
                        <input type="number" ng-model="newProduct.sold" class="form-control ng-pristine ng-untouched ng-valid needsclick" style="display: inline;width: 75%;max-width:300px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="margin-top:10px;">
                        <label style="width: 70px;">产地：</label>
                        <input required name="origin" type="text" ng-model="newProduct.origin" class="form-control ng-pristine ng-untouched ng-valid needsclick"
                            style="display: inline;width: 75%;max-width:300px;">
                        <div ng-messages="newproductForm.origin.$error" style="color:maroon" role="alert">
                            <div ng-message="required">请输入产地</div>
                        </div>
                    </div>

                    <div class="col-md-6 form-group" style="margin-bottom: 0px;padding-bottom: 0px;">

                        <label class="col-md-2 col-xs-2" style="width: 90px;padding-right: 0px;padding-top: 5px;">上架时间：</label>
                        <yaea-Datepicker class="col-md-10 col-xs-10" date-format='yyyy/MM/dd' date-model='newProduct.onlineTime' style="width: 75%;max-width:300px;"></yaea-Datepicker>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="margin-top:10px;">
                        <label style="width: 70px;white-space:nowrap">供应商：</label>
                        <select required name="supplier" ng-model="newProduct.supplier" ng-options="item as item.name for item in supplier track by item.id"
                            style="display: inline;width: 75%;max-width:300px;" class="form-control ng-pristine ng-untouched ng-valid needsclick">
                        </select>
                        <div ng-messages="newproductForm.supplier.$error" style="color:maroon" role="alert">
                            <div ng-message="required">请输入产地</div>
                        </div>
                    </div>
                    <div class="col-md-6 form-group" style="margin-bottom: 0px;">
                        <label class="col-md-2 col-xs-2" style="width:90px;white-space:nowrap;padding-top: 10px;">标签：</label>
                        <tags-input class="col-md-10 col-xs-10" placeholder="添加标签" min-length="1" ng-model="newProduct.labels" style="padding-left: 0px;padding-right: 0px;width: 75%;max-width: 300px;">
                            <auto-complete load-on-empty='true' load-on-focus='true' source="productService.labels($query)"></auto-complete>
                        </tags-input>

                    </div>
                </div>
            </fieldset>
            <fieldset style="margin-top:10px;">
                <div class="row">
                    <div class="col-md-12">
                        <label>标题：</label>
                        <textarea name="listdescription" ng-model="newProduct.title" wrap="soft" class="form-control ng-pristine ng-untouched ng-valid needsclick"
                            style="height:50px;resize: none;"></textarea>
                    </div>
                </div>
            </fieldset>
            <fieldset style="margin-top:10px;">
                <div class="row">
                    <div class="col-md-12">
                        <label>商品描述：</label>
                        <textarea name="listdescription" ng-model="newProduct.description" wrap="soft" class="form-control ng-pristine ng-untouched ng-valid needsclick"
                            style="height:100px;resize: none;"></textarea>
                    </div>
                </div>
            </fieldset>
            <fieldset style="margin-top:10px;">
                <div class="row">
                    <div class="col-md-12">
                        <label>商品封面：</label>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-xs-6 col-md-3" ng-repeat="productCover in newProduct.cover">
                                        <div class="thumbnail hazcorner">
                                            <button type="button" ng-click="removeCover($index)" class="btn btn-danger cornermark">
                                            删除
                                        </button>
                                            <img style="height:150px" ng-src="/uploadimg/{{productCover}}" alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2" style="margin-top: 30px;">
                                <button class="btn btn-default" ng-click="uploadCovers();">上传封面</button>
                            </div>
                        </div>
                    </div>

                </div>
            </fieldset>
            <fieldset style="margin-top:10px;">
                <div class="row">
                    <div class="col-md-12">
                        <label>商品图：</label>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-xs-6 col-md-3" ng-repeat="productImage in newProduct.images">
                                        <div class="thumbnail hazcorner">
                                            <button type="button" ng-click="removeImage($index)" class="btn btn-danger cornermark">
                                            删除
                                        </button>
                                            <img style="height:150px" ng-src="/uploadimg/{{productImage}}" alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2" style="margin-top: 30px;">
                                <button class="btn btn-default" ng-click="uploadImages();">上传图片</button>
                            </div>
                        </div>
                    </div>

                </div>
            </fieldset>
            <fieldset>
                <div class="row">
                    <div class="col-md-12" style="text-align:center;">
                        <button ng-disabled="newproductForm.$invalid" class="btn btn-primary" ng-click="save()" style="width:100px;">保存</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</section>