<section class="scrollable ng-scope">
    <div ui-content-for="title">
        <span>新建供应商</span>
    </div>
    <div class="scrollable-content section">
        <form name="newsupplierForm">
            <fieldset>
                <div class="row">
                    <div class="col-md-12" style="margin-top:10px;">
                        <label>供应商名称：</label>
                        <input required name="name" type="text" class="form-control ng-pristine ng-untouched ng-valid needsclick" style="display: inline;width: 75%;max-width:300px;"
                            ng-model="newSupplier.name">
                        <div ng-messages="newsupplierForm.name.$error" style="color:maroon" role="alert">
                            <div ng-message="required">请输入供应商名称</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="margin-top:10px;">
                        <label style="width: 84px;">类型：</label>
                        <select required name="type" ng-options="item.code as item.context for item in codetable.Supplier.Type" ng-model="newSupplier.type"
                            style="display: inline;width: 75%;max-width:300px;" class="form-control ng-pristine ng-untouched ng-valid needsclick"></select>
                        <div ng-messages="newsupplierForm.type.$error" style="color:maroon" role="alert">
                            <div ng-message="required">请输入类型</div>
                        </div>
                    </div>
                    <div class="col-md-6" style="margin-top:10px;">
                        <label style="width: 84px;">状态：</label>
                        <select required name="status" style="display: inline;width: 75%;max-width:300px;" class="form-control ng-pristine ng-untouched ng-valid needsclick"
                            ng-model="newSupplier.status" ng-options="item.code as item.context for item in codetable.Supplier.Status"
                            ng-model="selected"></select>
                        <div ng-messages="newsupplierForm.status.$error" style="color:maroon" role="alert">
                            <div ng-message="required">请输入状态</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="margin-top:10px;">
                        <label style="width: 84px;">联系人：</label>
                        <input required name="contact" type="text" class="form-control ng-pristine ng-untouched ng-valid needsclick" style="display: inline;width: 75%;max-width:300px;"
                            ng-model="newSupplier.contact">
                        <div ng-messages="newsupplierForm.contact.$error" style="color:maroon" role="alert">
                            <div ng-message="required">请输入联系人</div>
                        </div>
                    </div>
                    <div class="col-md-6" style="margin-top:10px;">
                        <label style="width: 84px;">联系电话：</label>
                        <input required name="phone" type="text" class="form-control ng-pristine ng-untouched ng-valid needsclick" style="display: inline;width: 75%;max-width:300px;"
                            ng-model="newSupplier.phone">
                        <div ng-messages="newsupplierForm.phone.$error" style="color:maroon" role="alert">
                            <div ng-message="required">请输入联系电话</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="margin-top:10px;">
                        <label style="width: 84px;">地址：</label>
                        <input required name="address" type="text" class="form-control ng-pristine ng-untouched ng-valid needsclick" style="display: inline;width: 75%;max-width:300px;"
                            ng-model="newSupplier.address">
                        <div ng-messages="newsupplierForm.address.$error" style="color:maroon" role="alert">
                            <div ng-message="required">请输入地址</div>
                        </div>
                    </div>
                    <div class="col-md-6" style="margin-top:10px;">
                        <label style="width: 84px;">邮编：</label>
                        <input required name="post" type="text" class="form-control ng-pristine ng-untouched ng-valid needsclick" style="display: inline;width: 75%;max-width:300px;"
                            ng-model="newSupplier.post">
                        <div ng-messages="newsupplierForm.post.$error" style="color:maroon" role="alert">
                            <div ng-message="required">请输入邮编</div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr>
            <fieldset style="margin-top:10px;">
                <div class="row">
                    <div class="col-md-12">
                        <label>供应商描述：</label>
                        <textarea name="listdescription" wrap="soft" class="form-control ng-pristine ng-untouched ng-valid needsclick" style="height:100px;resize: none;"
                            ng-model="newSupplier.description"></textarea>
                    </div>
                </div>
            </fieldset>


            <fieldset style="margin-top:10px;">
                <div class="row">
                    <div class="col-md-12">
                        <label>供应商封面：</label>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-xs-6 col-md-3" ng-repeat="cover in newSupplier.cover">
                                        <div class="thumbnail hazcorner">
                                            <button type="button" ng-click="removeCover($index)" class="btn btn-danger cornermark">
                                            删除
                                        </button>
                                            <img style="height:150px" ng-src="/uploadimg/{{cover}}" alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2" style="margin-top: 30px;">
                                <button class="btn btn-default" ng-click="uploadCovers();">上传封面</button>
                            </div>
                        </div>
                    </div>

                </div>
            </fieldset>
            <fieldset style="margin-top:10px;">
                <div class="row">
                    <div class="col-md-12">
                        <label>供应商附件：</label>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-xs-6 col-md-3" ng-repeat="productImage in newProduct.images">
                                        <div class="thumbnail hazcorner">
                                            <button type="button" ng-click="removeImage($index)" class="btn btn-danger cornermark">
                                            删除
                                        </button>
                                            <img style="height:150px" ng-src="/uploadimg/{{productImage}}" alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2" style="margin-top: 30px;">
                                <button class="btn btn-default" ng-click="uploadImages();">上传附件</button>
                            </div>
                        </div>
                    </div>

                </div>
            </fieldset>


            <fieldset>
                <div class="row">
                    <div class="col-md-12" style="text-align:center;">
                        <button ng-disabled="newsupplierForm.$invalid" class="btn btn-primary" style="width:100px;" ng-click="save()">保存</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</section>