<section class="scrollable ng-scope">
    <div ui-content-for="title">
        <span>订单详情</span>
    </div>
    <div class="scrollable-content section">
        <fieldset>
            <div class="row">
                <div class="col-md-12">
                    <span>{{orderinfo.sn}}-</span>
                    <input type="text" ng-readonly="!isEdit" ng-model="orderinfo.ordername" class="form-control ng-pristine ng-untouched ng-valid needsclick"
                        style="display: inline;width: 75%;max-width:300px;">
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-12">
                    <button class="btn btn-default">编辑</button>
                    <button class="btn btn-default">操作</button>
                    <button class="btn btn-default">下架</button>
                </div>
            </div>
        </fieldset>
        <fieldset style="margin-top:10px;">
            <legend>订单细节</legend>
            <div class="row">
                <div class="col-md-4" style="margin-top:5px;">
                    <label style="width:75px;">订单号：</label>
                    <input ng-readonly="!isEdit" type="text" ng-model="orderinfo.sn" class="form-control ng-pristine ng-untouched ng-valid needsclick"
                        style="display: inline;width: 75%;max-width:300px;">
                </div>
                <div class="col-md-4" style="margin-top:5px;">
                    <label style="width:75px;">状态：</label>
                    <select ng-disabled="!isEdit" ng-model="orderinfo.status" ng-options="item.code as item.context for item in codetable.Order.Status"
                        style="display: inline;width: 75%;max-width:300px;" class="form-control ng-pristine ng-untouched ng-valid needsclick"></select>
                </div>
                <div class="col-md-4" style="margin-top:5px;">
                    <div class="row">
                        <div class="col-md-3 col-xs-3" style="padding-right: 0px;width: 90px;">
                            <label style="padding-left: 0px;width: 75px;padding-right: 0px;">下单时间：</label>
                        </div>
                        <div class="col-md-9 col-xs-9" style="padding-left: 0px;">
                            <yaea-Datepicker ng-hide="!isEdit" date-format='yyyy/MM/dd' date-model='orderinfo.orderedOn' style="max-width:300px;"></yaea-Datepicker>
                            <span ng-hide="isEdit">{{orderinfo.orderedOn | date:'yyyy/MM/dd'}}</span>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>
        <fieldset style="margin-top:10px;">
            <legend>收件人</legend>
            <div class="row">
                <div class="col-md-6" style="margin-top:5px;">
                    <label>收件人：</label>
                    <input ng-readonly="!isEdit" type="text" ng-model="orderinfo.recipient.name" class="form-control ng-pristine ng-untouched ng-valid needsclick"
                        style="display: inline;width: 75%;max-width:300px;">
                </div>
                <div class="col-md-6" style="margin-top:5px;">
                    <label style="width:56px;">手机：</label>
                    <input ng-readonly="!isEdit" type="text" ng-model="orderinfo.recipient.phone" class="form-control ng-pristine ng-untouched ng-valid needsclick"
                        style="display: inline;width: 75%;max-width:300px;">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin-top:5px;">
                    <label style="width:56px;">地址：</label>
                    <input ng-readonly="!isEdit" type="text" ng-model="orderinfo.recipient.address" class="form-control ng-pristine ng-untouched ng-valid needsclick"
                        style="display: inline;width: 75%;max-width:300px;">
                </div>
            </div>
        </fieldset>
        <fieldset style="margin-top:10px;">
            <legend>子订单</legend>
        </fieldset>
        <fieldset style="margin-top:10px;">
            <legend>商品细节</legend>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>商品编号</td>
                                    <td>商品名</td>
                                    <td>产地</td>
                                    <td>上线时间</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="productdetail in orderinfo.orders">
                                    <td>{{productdetail.sn}}</td>
                                    <td>{{productdetail.name}}</td>
                                    <td>{{productdetail.origin}}</td>
                                    <td>{{productdetail.onlineTime}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset style="margin-top:10px;">
            <legend>订单结算</legend>
            <div class="row">
                <div class="col-md-6" style="margin-top:5px;">
                    <label>商品金额：</label>
                    <input ng-readonly="!isEdit" type="text" ng-model="orderinfo.bill.productBill" class="form-control ng-pristine ng-untouched ng-valid needsclick"
                        style="display: inline;width: 75%;max-width:300px;">
                </div>
                <div class="col-md-6" style="margin-top:5px;">
                    <label>运费：</label>
                    <input ng-readonly="!isEdit" type="text" ng-model="orderinfo.bill.carriageBill" class="form-control ng-pristine ng-untouched ng-valid needsclick"
                        style="display: inline;width: 75%;max-width:300px;">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin-top:5px;">
                    <label>订单金额：</label>
                    <input ng-readonly="!isEdit" type="text" ng-model="orderinfo.productBill" class="form-control ng-pristine ng-untouched ng-valid needsclick"
                        style="display: inline;width: 75%;max-width:300px;">
                </div>
            </div>

        </fieldset>
        <fieldset style="margin-top:10px;">
            <legend>操作历史</legend>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>订单编号</td>
                                    <td>订单时间</td>
                                    <td>所属列表</td>
                                    <td>类型</td>
                                    <td>状态</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="operatehistory in orderinfo.operatehistorys">
                                    <td>{{operatehistory.ordernum}}</td>
                                    <td>{{operatehistory.ordertime}}</td>
                                    <td>{{operatehistory.subordinatetolist}}</td>
                                    <td>{{operatehistory.type}}</td>
                                    <td>{{operatehistory.status}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="row">
                <div class="col-md-12" style="text-align:center;">
                    <button ng-disabled="orderDetailForm.$invalid" class="btn btn-primary" style="width:100px;" ng-click="update();" ng-show="isEdit">保存</button>
                </div>
            </div>
        </fieldset>

    </div>
</section>