<section class="scrollable ng-scope">
    <div ui-content-for="title">
        <span>订单管理</span>
    </div>
    <div class="scrollable-content section">
        <fieldset>
            <div class="row" style="margin-top:10px;">
                <div class="col-xs-12 col-md-1" style="padding-right:0px;width: 100px;margin-top:5px;">
                    <div class="btn-group" role="group">
                        <button ui-turn-on='orderstatus' class="btn btn-default dropdown-toggle">
                           {{dropdowntitle}}<span class="caret"/>
                        </button>
                        <ul class="dropdown-menu" ui-outer-click="Ui.turnOff(orderstatus)" ui-outer-click-if="Ui.active(orderstatus)" role="menu" ui-show="orderstatus"
                            ui-state="orderstatus">
                            <li style="padding: 0px 5px;" ng-repeat="item in statuslist" ui-turn-off='orderstatus' ng-click="changeTitle(item);">
                                <label>{{item.text}}</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6" style="margin-top:5px;">
                    <input type="text" ng-model="searchText" class="form-control ng-pristine ng-untouched ng-valid needsclick" style="display: inline;max-width:300px;width:80%;">
                    <button class="btn btn-primary" ng-click="search();" style="margin-left:5px;">查询</button>
                </div>
            </div>
        </fieldset>
        <hr>
        <div class="panel panel-default">
            <table class="table">
                <thead>
                    <tr>
                        <td></td>
                        <td>订单编号</td>
                        <td>下单时间</td>
                        <td>下单客户</td>
                        <td>订单金额</td>
                        <td>订单状态</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-dblclick="selectOrder(orderdata._id);" ng-repeat="orderdata in orderdatas">
                        <td>
                            <button type="button" class="btn btn-default btn-xs" ng-click="deleteOrder(orderdata._id)">
                                <span class="fa fa-remove"></span>
                            </button>
                        </td>
                        <td>{{orderdata.sn}}</td>
                        <td>{{orderdata.orderedOn}}</td>
                        <td>{{orderdata.user.name}}</td>
                        <td>{{orderdata.bill.productBill}}</td>
                        <td>{{orderdata.status | displayOrderStatus}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12" style="text-align:center;">
                <uib-pagination boundary-links="true" total-items="totalItems" ng-change='pageChange()' ng-model="currentPage" class="pagination-sm"
                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
            </div>
        </div>

    </div>
</section>