<section class="scrollable ng-scope">
    <div ui-content-for="title">
        <span>商品管理</span>
    </div>
    <div class="scrollable-content section">
        <fieldset>
            <div class="btn-group" role="group">
                <yaea-dropdown title="标签" yaea-state='labelState' date-model='searchsetup[0]' ng-model='labelsearch' yaea-click='search()'>
                </yaea-dropdown>
                <yaea-dropdown title="产地" yaea-state='originState' date-model='searchsetup[1]' ng-model='originsearch' yaea-click='search()'>
                </yaea-dropdown>
            </div>
            <button class="btn btn-primary" ng-click="saveAsList();" style="margin-left:5px;">保存到列表...</button>
        </fieldset>
        <fieldset>
            <div class="row" style="margin-top:20px;">
                <div class="col-xs-12 col-md-6">
                    <input type="text" ng-model="searchText" class="form-control ng-pristine ng-untouched ng-valid needsclick" style="display: inline;max-width:300px;width:80%;">
                    <button class="btn btn-primary" ng-click="search();" style="margin-left:5px;">查询</button>


                </div>
            </div>
        </fieldset>
        <hr>
        <div class="panel panel-default">
            <table class="table">
                <thead>
                    <tr>
                        <td>商品编号</td>
                        <td>商品名</td>
                        <td>产地</td>
                        <td>上线时间</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-dblclick="selectProduct(productdata._id)" ng-repeat="productdata in productdatas">
                        <td>
                            <button type="button" class="btn btn-default btn-xs" ng-click="deleteProduct(productdata._id)">
                                <span class="fa fa-remove"></span>
                            </button>
                        </td>
                        <td>{{productdata.sn}}</td>
                        <td>{{productdata.name}}</td>
                        <td>{{productdata.origin}}</td>
                        <td>{{productdata.onlineTime | date:'yyyy/MM/dd'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12" style="text-align:center;">
                <uib-pagination boundary-links="true" total-items="totalItems" ng-change='pageChange()' ng-model="currentPage" class="pagination-sm"
                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
            </div>
        </div>


    </div>
</section>