<section class="scrollable ng-scope">
    <div ui-content-for="title">
        <span>商品详情</span>
    </div>
    <div class="scrollable-content section">
        <form name='productDetailForm'>
            <fieldset>
                <div class="row">
                    <div class="col-md-12">
                        <span>{{productinfo.sn}}-</span>
                        <input type="text" name="name" ng-readonly="!isEdit" ng-model="productinfo.name" class="form-control ng-pristine ng-untouched ng-valid needsclick"
                            style="display: inline;width: 75%;max-width:300px;">
                        <div ng-messages="productDetailForm.name.$error" style="color:maroon" role="alert">
                            <div ng-message="required">请输入商品名</div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-12">
                        <button ng-click="DetailCtl.toggleOperate()" class="btn btn-default">编辑</button>
                        <button class="btn btn-default">操作</button>
                        <button class="btn btn-default">下架</button>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>商品细节</legend>
                <div class="row">
                    <div class="col-md-6" style="margin-top:10px;">
                        <label>商品名称：</label>
                        <input type="text" ng-readonly="!isEdit" ng-model="productinfo.name" class="form-control ng-pristine ng-untouched ng-valid needsclick"
                            style="display: inline;width: 75%;max-width:300px;">
                    </div>
                    <div class="col-md-6" style="margin-top:10px;">
                        <label>商品价格：</label>
                        <input type="number" ng-readonly="!isEdit" ng-model="productinfo.price" class="form-control ng-pristine ng-untouched ng-valid needsclick"
                            style="display: inline;width: 75%;max-width:300px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="margin-top:10px;">
                        <label style="width: 70px;">库存：</label>
                        <input type="number" ng-readonly="!isEdit" ng-model="productinfo.inStock" class="form-control ng-pristine ng-untouched ng-valid needsclick"
                            style="display: inline;width: 75%;max-width:300px;">
                    </div>
                    <div class="col-md-6" style="margin-top:10px;">
                        <label style="width: 70px;">已售：</label>
                        <input type="number" ng-readonly="!isEdit" ng-model="productinfo.sold" class="form-control ng-pristine ng-untouched ng-valid needsclick"
                            style="display: inline;width: 75%;max-width:300px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="margin-top:10px;">
                        <label style="width: 70px;">产地：</label>
                        <input type="text" ng-readonly="!isEdit" ng-model="productinfo.origin" class="form-control ng-pristine ng-untouched ng-valid needsclick"
                            style="display: inline;width: 75%;max-width:300px;">
                    </div>

                    <div class="col-md-6 form-group" style="margin-bottom: 0px;padding-bottom: 0px;">

                        <label class="col-md-2 col-xs-2" style="width: 90px;padding-right: 0px;white-space:nowrap">上架时间：</label>
                        <yaea-Datepicker ng-hide="!isEdit" class="col-md-8 col-xs-8" date-format='yyyy/MM/dd' date-model='productinfo.onlineTime'
                            style="width: 75%;max-width: 300px;"></yaea-Datepicker>
                        <span ng-hide="isEdit">{{productinfo.onlineTime | date:'yyyy/MM/dd'}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="margin-top:10px;">
                        <label style="width:70px;">供应商：</label>
                        <select ng-disabled="!isEdit" ng-model="productinfo.supplier" ng-options="item as item.name for item in supplier track by item.id"
                            style="display: inline;width: 75%;max-width:300px;" class="form-control ng-pristine ng-untouched ng-valid needsclick"></select>

                    </div>

                    <div class="col-md-6 form-group" style="margin-bottom: 0px;padding-bottom: 0px;">
                        <label class="col-md-2 col-xs-3" style="width: 90px;white-space: nowrap;padding-top: 10px;">标签：</label>
                        <tags-input class="col-md-8 col-xs-8" ng-disabled="!isEdit" placeholder="添加标签" min-length="1" ng-model="productinfo.labels"
                            style="padding-left: 0px;width: 75%;max-width: 300px;padding-right: 0px;"></tags-input>

                    </div>
                </div>
            </fieldset>
            <fieldset style="margin-top:10px;">
                <legend>产品标题</legend>
                <div class="row">
                    <div class="col-md-10">
                        <textarea ng-model="productinfo.title" ng-readonly="!isEdit" wrap="soft" class="form-control ng-pristine ng-untouched ng-valid needsclick"
                            style="height:100px;resize: none;"></textarea>
                    </div>
                </div>
            </fieldset>
            <fieldset style="margin-top:10px;">
                <legend>商品描述</legend>
                <div class="row">
                    <div class="col-md-10">
                        <textarea ng-model="productinfo.description" ng-readonly="!isEdit" wrap="soft" class="form-control ng-pristine ng-untouched ng-valid needsclick"
                            style="height:100px;resize: none;"></textarea>
                    </div>
                </div>
            </fieldset>
            <fieldset style="margin-top:10px;">
                <legend>商品封面</legend>
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-4" ng-repeat="productcover in productinfo.cover">
                                <div class="thumbnail hazcorner">
                                    <button ng-show="isEdit" type="button" ng-click="removeCover($index)" class="btn btn-danger cornermark">
                                    删除
                                </button>
                                    <img style="height:150px" ng-src="/uploadimg/{{productcover}}" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="isEdit" class="col-md-2" style="margin-top: 30px;">
                        <button class="btn btn-default" ng-click="uploadCovers();">上传封面</button>
                    </div>
                </div>
            </fieldset>
            <fieldset style="margin-top:10px;">
                <legend>商品图</legend>
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-4" ng-repeat="productimage in productinfo.images">
                                <div class="thumbnail hazcorner">
                                    <button ng-show="isEdit" type="button" ng-click="removeImage($index)" class="btn btn-danger cornermark">
                                    删除
                                </button>
                                    <img style="height:150px" ng-src="/uploadimg/{{productimage}}" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="isEdit" class="col-md-2" style="margin-top: 30px;">
                        <button class="btn btn-default" ng-click="uploadImages();">上传图片</button>
                    </div>
                </div>
            </fieldset>
            <fieldset style="margin-top:10px;">
                <legend>操作历史</legend>
                <div class="row">
                    <div class="col-md-10">
                        <div class="panel panel-default">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>商品编号</td>
                                        <td>商品名</td>
                                        <td>操作类型</td>
                                        <td>操作时间</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="operatehistory in productinfo.operatehistorys">
                                        <td>{{operatehistory.productnum}}</td>
                                        <td>{{operatehistory.productname}}</td>
                                        <td>{{operatehistory.operatetype}}</td>
                                        <td>{{operatehistory.operatetime}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-default" ng-show="isEdit">添加操作</button>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="row">
                    <div class="col-md-12" style="text-align:center;">
                        <button ng-disabled="productDetailForm.$invalid" class="btn btn-primary" style="width:100px;" ng-click="update();" ng-show="isEdit">保存</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</section>