<section>
    <div class="modal-header">
        <h3 class="modal-title">保存到列表</h3>
    </div>
    <div class="modal-body">
        <div style='height:50px'>
            <fieldset>
                <div class="row">
                    <div class="col-md-12">
                        <span>列表名</span>
                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid needsclick" ng-model="newListName" style="display: inline;width: 75%;max-width:300px;">
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="dialogCtrl.ok()">确定</button>
        <button class="btn btn-warning" type="button" ng-click="dialogCtrl.cancel()">取消</button>
    </div>
</section>