<h1 class="app-name">managerApp</h1>

<div class="scrollable">
    <h1 class="scrollable-header app-name">managerApp</h1>
    <div class="scrollable-content">
        <div class="list-group">
            <a class="list-group-item" ui-turn-off='uiSidebarLeft' href="/">控制台 <i class="fa fa-chevron-right pull-right"></i></a>
            <div class="panel panel-default" style="margin-bottom: 0px;">
                <div class="panel-heading" ui-toggle='listtoggle'>
                    <h4 class="panel-title">
                       列表
                    </h4>
                </div>

                <div ui-state='listtoggle' ui-if="listtoggle">
                    <div class="panel-body">
                        <div class="list-group">
                            <a class="list-group-item" ui-turn-off='uiSidebarLeft' href="/newlist">新建列表 <i class="fa fa-chevron-right pull-right"></i></a>
                            <a class="list-group-item" ui-turn-off='uiSidebarLeft' href="/listmanage">列表管理 <i class="fa fa-chevron-right pull-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" style="margin-bottom: 0px;">
                <div class="panel-heading" ui-toggle='producttoggle'>
                    <h4 class="panel-title">
                       商品
                    </h4>
                </div>

                <div ui-state='producttoggle' ui-if="producttoggle">
                    <div class="panel-body">
                        <div class="list-group">
                            <a class="list-group-item" ui-turn-off='uiSidebarLeft' href="/newproduct">新建商品 <i class="fa fa-chevron-right pull-right"></i></a>
                            <a class="list-group-item" ui-turn-off='uiSidebarLeft' href="/productmanage">商品管理 <i class="fa fa-chevron-right pull-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="list-group-item" ui-turn-off='uiSidebarLeft' href="/ordermanage">订单 <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" ui-turn-off='uiSidebarLeft' href="/suppliermanage">供应商 <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" ui-turn-off='uiSidebarLeft' href="/systemmanage">系统 <i class="fa fa-chevron-right pull-right"></i></a>
        </div>
    </div>
</div>