<section class="scrollable ng-scope">

    <div ui-content-for="title">
        <span>注册</span>
    </div>
    <div ui-content-for="menu">

    </div>
    <div class="scrollable-content section">
        <div class="row">
            <div class="col-xs-12 col-md-12" style="margin-top:50px;margin-left:20%;width:60%;">
                <form role="form" class="login-form">
                    <fieldset>
                        <legend>用户注册</legend>
                        <div>
                            <label>手机号码</label>
                            <input type="text" ng-model="user.phonenumber" class="form-control ng-pristine ng-untouched ng-valid needsclick" style="height: 45px;">
                        </div>
                        <div>
                            <label>电子邮件</label>
                            <input type="email" ng-model="user.email" class="form-control ng-pristine ng-untouched ng-valid needsclick" style="height: 45px;">
                        </div>
                        <div>
                            <label>用户名</label>
                            <input type="text" ng-model="user.name" class="form-control ng-pristine ng-untouched ng-valid needsclick" style="height: 45px;">
                        </div>
                        <div style="margin-top:10px;">
                            <label>密码</label>
                            <input type="password" ng-model="user.password" class="form-control ng-pristine ng-untouched ng-valid needsclick" style="height: 45px;">
                        </div>
                        <div style="margin-top:10px;">
                            <label>重复密码</label>
                            <input type="password" ng-model="secondpassword" class="form-control ng-pristine ng-untouched ng-valid needsclick" style="height: 45px;">
                        </div>
                        <div style="margin-top:10px;">
                            <label>role</label>
                            <input type="text" ng-model="user.role" class="form-control ng-pristine ng-untouched ng-valid needsclick" style="height: 45px;">
                        </div>
                        <div style="margin-top:15px;">
                            <button type="button" class="btn btn-primary" ng-click="setup()" style="height: 45px;width:100%;">提交</button>
                        </div>
                    </fieldset>

                </form>
            </div>
        </div>
    </div>
</section>