<section class="scrollable ng-scope">
    <div ui-content-for="title">
        <span>供应商详情</span>
    </div>
    <div class="scrollable-content section">
        <fieldset>
            <div class="row">
                <div class="col-md-12">
                    <span>{{supplierinfo.sn}}-</span>
                    <input type="text" ng-model="supplierinfo.name" ng-readonly="!isEdit" class="form-control ng-pristine ng-untouched ng-valid needsclick"
                    style="display: inline;width: 75%;max-width:300px;">
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-12">
                    <button class="btn btn-default" ng-click="toggleOperate()">编辑</button>
                    <button class="btn btn-default">操作</button>
                    <button class="btn btn-default">加入黑名单</button>
                </div>
            </div>
        </fieldset>
        <fieldset style="margin-top:10px;">
            <legend>供应商细节</legend>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-5">
                    <label style="width:70px;">类型：</label>
                    <select ng-options="item.code as item.context for item in codetable.Supplier.Type" ng-disabled="!isEdit" ng-model="supplierinfo.type"
                    style="display: inline;width: 75%;max-width:300px;" class="form-control ng-pristine ng-untouched ng-valid needsclick"></select>
                </div>
                <div class="col-md-7">
                    <label style="width:70px;">状态：</label>
                    <select ng-options="item.code as item.context for item in codetable.Supplier.Status" ng-disabled="!isEdit" ng-model="supplierinfo.status"
                    style="display: inline;width: 75%;max-width:300px;" class="form-control ng-pristine ng-untouched ng-valid needsclick"></select>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-5">
                    <label style="width:70px;">联系人：</label>
                    <input type="text" ng-readonly="!isEdit" ng-model="supplierinfo.contact" class="form-control ng-pristine ng-untouched ng-valid needsclick"
                    style="display: inline;width: 75%;max-width:300px;">
                </div>
                <div class="col-md-7">
                    <label>联系电话：</label>
                    <input type="text" ng-readonly="!isEdit" ng-model="supplierinfo.phone" class="form-control ng-pristine ng-untouched ng-valid needsclick"
                    style="display: inline;width: 75%;max-width:300px;">

                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-5">
                    <label style="width:70px;">地址：</label>
                    <input type="text" ng-readonly="!isEdit" ng-model="supplierinfo.address" class="form-control ng-pristine ng-untouched ng-valid needsclick"
                    style="display: inline;width: 75%;max-width:300px;">

                </div>
                <div class="col-md-7">
                    <label style="width:70px;">邮编：</label>
                    <input type="text" ng-readonly="!isEdit" ng-model="supplierinfo.post" class="form-control ng-pristine ng-untouched ng-valid needsclick"
                    style="display: inline;width: 75%;max-width:300px;">
                </div>
            </div>
        </fieldset>
        <fieldset style="margin-top:10px;">
            <legend>供应商描述</legend>
            <div class="row">
                <div class="col-md-10">
                    <textarea ng-model="supplierinfo.description" readonly wrap="soft" class="form-control ng-pristine ng-untouched ng-valid needsclick"
                    style="height:100px;resize: none;"></textarea>
                </div>
                <div class="col-md-2" style="margin-top: 30px;">
                    <button class="btn btn-default" disabled>提交</button>
                </div>
            </div>
        </fieldset>
        <fieldset style="margin-top:10px;">
            <legend>供应商附件</legend>
            <div class="row">
                <div class="col-md-10">
                    <div class="panel panel-default">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="supplierattachment in supplierinfo.supplierattachments">{{supplierattachment.name}}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2" style="margin-top: 30px;">
                    <button class="btn btn-default" disabled>上传附件</button>
                </div>
            </div>
        </fieldset>
        <fieldset style="margin-top:10px;">
            <legend>供应商封面</legend>
            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-4" ng-repeat="suppliercover in supplierinfo.suppliercovers">
                            <a href="#" class="thumbnail">
                                <img ng-src="{{suppliercover.imgurl}}" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2" style="margin-top: 30px;">
                    <button class="btn btn-default" disabled>上传封面</button>
                </div>
            </div>
        </fieldset>
        <fieldset style="margin-top:10px;">
            <legend>操作历史</legend>
            <div class="row">
                <div class="col-md-10">
                    <div class="panel panel-default">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>供应商编号</td>
                                    <td>申请时间</td>
                                    <td>类型</td>
                                    <td>状态</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="operatehistory in supplierinfo.operatehistorys">
                                    <td>{{operatehistory.suppliernum}}</td>
                                    <td>{{operatehistory.applydate}}</td>
                                    <td>{{operatehistory.type}}</td>
                                    <td>{{operatehistory.status}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-2" style="margin-top: 30px;">
                    <button class="btn btn-default" disabled>添加操作</button>
                </div>
            </div>
        </fieldset>
    </div>
</section>