<section class="scrollable ng-scope">
    <div ui-content-for="title">
        <span>供应商管理</span>
    </div>
    <div class="scrollable-content section">
        <fieldset>
            <div class="row">
                <div class="col-xs-12 col-md-6" style="margin-top:10px;">
                    <label>供应商名称／编号：</label>
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid needsclick" ng-model="keyword" style="display: inline;width: 50%;max-width:300px;">
                    <button type="button" class="btn btn-primary" ng-click="searchSupplier()" style="margin-left:5px;">查询</button>               
                </div>
            </div>
        </fieldset>
        <hr>
        <div class="panel panel-default">
            <table class="table">
                <thead>
                    <tr>
                        <td></td>
                        <td>供应商编号</td>
                        <td>供应商名称</td>
                        <td>类型</td>
                        <td>状态</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-dblclick="selectSupplier(supplier._id)" ng-repeat="supplier in suppliers">
                        <td>
                            <button type="button" class="btn btn-default btn-xs" ng-click="deleteSupplier(supplier._id)">
                                <span class="fa fa-remove"></span>
                            </button>
                        </td>
                        <td>{{supplier.sn}}</td>
                        <td>{{supplier.name}}</td>
                        <td>{{supplier.type | displaySupplierType}}</td>
                        <td>{{supplier.status | displaySupplierStatus}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12" style="text-align:center;">
                <uib-pagination boundary-links="true" total-items="totalItems" ng-change='pageChange()' ng-model="currentPage" class="pagination-sm"
                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
            </div>
        </div>
    </div>
</section>