<section class="scrollable ng-scope">
    <div ui-content-for="title">
        <span>系统配置</span>
    </div>
    <div class="scrollable-content section">
        <div class="row" style="margin:0px 20px;">
            <div class="col-xs-12 col-md-12">
                <div class="row" style="margin: 30px;">
                    <div class="col-xs-12 col-md-5">
                        <div class="row">
                            <!--<input class="form-control" type="text" style="width:75%;">-->
                            <input style="background-image:url(./images/search1.png);background-repeat:no-repeat;background-position: right;
                            position:absolute;z-index:5;width:75%;" class="form-control scrollable-header" type="search"
                                ng-model="keywords" ng-change="search()" ng-keyup="entersearch($event)" ng-focus="getCurrFocus()">
                        </div>
                        <div class="row" style="margin-top:20px;">
                            <div class="panel panel-default" style="height:450px;">
                                <ul class="list-group">
                                    <a href="#" ng-click="changeItem(list);" class="list-group-item" ng-repeat="list in lists|filter:keywords">{{list.name}}</a>
                                    <br>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2" style="text-align:center;">
                        <div class="row">
                            <button class="btn btn-default" style="margin-top: 100%;" ng-click="mappingTo();"><span class="fa fa-chevron-right"></span></button>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-5">
                        <div class="row">
                            <select ng-change="change(selectedCode)" ng-options="module.code as module.context for module in codetable.Page.Layout" ng-model="selectedCode"
                                class="form-control" style="width:75%;"></select>
                        </div>
                        <div class="row" style="margin-top:20px;">
                            <div class="panel panel-default" style="height:450px;">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="mappingList in mappingLists">
                                        <button type="button" class="badge btn btn-default btn-xs" ng-click="remove($index)">
                                            <span class="fa fa-remove"></span>
                                        </button>
                                         {{mappingList.name}}
                                    </li>
                                    <br>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class='scrollable-footer section'>
        <div class="row">
            <div class="col-md-12" style="text-align:center;">
                <button ng-disabled="newlistForm.$invalid" class="btn btn-primary" style="width:100px;" ng-click="save()">保存</button>
            </div>
        </div>
    </div>
</section>