<!DOCTYPE html>
<html ng-app="H5App">

<head yaea-inject>
    <meta charset="utf-8" />
    <base href="/">
    <title>H5App</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <link rel="stylesheet" href="/css/app.min.css" />
    <!-- inject:js -->
    <!-- endinject -->
</head>

<body ng-controller="MainController">


    <div class="app">

        <!-- Navbars -->

        <div class="navbar navbar-app navbar-absolute-top">
            <div class="navbar-brand navbar-brand-center" ui-yield-to="title">
                Mobile Angular UI
            </div>
            <div class="btn-group pull-left" ui-yield-to="navbarAction">
                <a class="btn fa fa-chevron-left" ng-click="goBack()">返回</a>
            </div>
            <div class="btn-group pull-right" ui-yield-to="homeAction">
                <a class="btn fa fa-home" ng-click="goHome()">主页</a>
            </div>
        </div>
        <!-- App Body -->
        <div class="app-body">
            <div class="app-content">
                <ng-view class="ng-scope"></ng-view>
            </div>
        </div>

    </div>
    <!-- ~ .app -->

    <div ui-yield-to="modals"></div>
</body>

</html>